# From Emails

### 1. Briefly introduce your topic - why should we care about the topic? What datasets you will use + where you'll get these? Possible methodology? 

**Topic**
The analysis of characters of moved companies in UK tech industries. 
characters might involve:
- Employee size
- Location
- Company operating years

**Reason**
For Government: 
- Attract talented people to work in UK
- Improve employment
    
For Companies: 
- Where the founder choose to start up companies
- Optimise the recruitment
     
**Method**

ML: DB-SCAN OR K-means? -> inspect the characters of moved companies

Output: Insights or Recommendation for policy

### 2. Think about what you want to do with the dissertation afterwards - is it something to show future employers, do you want to do further academic research? 

- Manipulate the big data -> increase ability in Data processing

- Visualisation: Moved firm's Origin/Destination Map -> employers -> provide business insights

- Further research: Decision Tree/Random Forest -> predict which companies may move

### 3. Ethical reflection - have a look at the ethics lecture / guidance and draft a couple of sentences. Will your project need formal ethical approval or not?

N/A

# Data Overview

* FAME_OC: master data, all variables [~15gb] 
* OC_1.1: extract of firms with true location info (trading addresses) [<1gb]
* OC_2.1: extract of firms with different trading addresses and registered addresses (may be trading address or home/other location) [<1gb]
* OC_3.1: extract of firms with only registered addresses [~10gb]

---

In [1]:
# 329MB
import pandas as pd
import sys
PATH = sys.path[0]
f=r'/Users/fangzeqiang/Desktop/Dissertation/OC_1.1.dta'
OC_1_1=pd.read_stata(f)

# EDA

In [2]:
OC_1_1.head()

,registered_number,bvd_id,id,registered_addresspostal_code,primaryaddresspostcodeifuk,alltradingaddressespostcodeifuk,sic4,birth_year,diss_year,streetnobuildingetcline1,...,country,countryisocode,regionincountry,typeofregionincountry,telephonenumber,faxnumber,addresstype,address_group,isdup_t_postcode,_merge
0,00000118,,233927.0,TN23 1DA,,,4611.0,1856.0,NaN,The New Ashford Market,...,United Kingdom,GB,England|South Eastern|Tonbridge (TN)|Ashford,Country|Region|Postal area|Town,01233506201,,Trading address,1.0,0,matched (3)
1,00000258,,12022629.0,RG12 1AN,,,7499.0,1856.0,NaN,India Buildings,...,United Kingdom,GB,England|North West|Liverpool (L)|Liverpool,Country|Region|Postal area|Town,,,Trading address,1.0,0,matched (3)
2,00000371,,2111477.0,SW1Y 6BN,,,7499.0,1863.0,NaN,St Clements House,...,United Kingdom,GB,England|Eastern|Norwich (NR)|Norwich,Country|Region|Postal area|Town,,,Trading address,1.0,0,matched (3)
3,00000402,,2302906.0,PL4 0RA,,,7499.0,1863.0,NaN,Millbay Road,...,United Kingdom,GB,England|South Western|Plymouth (PL)|Plymouth,Country|Region|Postal area|Town,01752275850,,Trading address,1.0,0,matched (3)
4,00000425,,3310625.0,EC4Y 8BB,,,NaN,1856.0,2014.0,Surrey House,...,United Kingdom,GB,England|London Outer|Kingston Upon Thames (KT)...,Country|Region|Postal area|Town,,,Trading address,1.0,0,matched (3)

### Inspect all columns' name

In [3]:
OC_1_1.columns

Index(['registered_number', 'bvd_id', 'id', 'registered_addresspostal_code',
       'primaryaddresspostcodeifuk', 'alltradingaddressespostcodeifuk', 'sic4',
       'birth_year', 'diss_year', 'streetnobuildingetcline1',
       'streetnobuildingetcline1native', 'streetnobuildingetcline2',
       'streetnobuildingetcline2native', 'streetnobuildingetcline3',
       'streetnobuildingetcline3native', 'streetnobuildingetcline4',
       'streetnobuildingetcline4native', 'postcode', 'city', 'citynative',
       'country', 'countryisocode', 'regionincountry', 'typeofregionincountry',
       'telephonenumber', 'faxnumber', 'addresstype', 'address_group',
       'isdup_t_postcode', '_merge'],
      dtype='object')

### Inspect the numeric columns

In [4]:
df = OC_1_1.copy()

import numpy as np
df.describe(include = [np.number])

,id,sic4,birth_year,diss_year,address_group,isdup_t_postcode
count,2.547690e+05,213596.000000,254737.000000,69005.000000,259581.0,259581.000000
mean,2.121576e+07,6399.244466,2000.244535,2014.631882,1.0,0.000593
std,3.874494e+07,2177.294293,15.828067,11.039440,0.0,0.162160
min,6.300000e+01,111.000000,1856.000000,8.000000,1.0,0.000000
25%,1.276526e+06,4648.000000,1995.000000,2013.000000,1.0,0.000000
50%,2.615181e+06,6810.000000,2004.000000,2015.000000,1.0,0.000000
75%,9.002524e+06,8299.000000,2011.000000,2017.000000,1.0,0.000000
max,1.687338e+08,9999.000000,2018.000000,2018.000000,1.0,78.000000

### Inspect the data types

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259581 entries, 0 to 259580
Data columns (total 30 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   registered_number                259581 non-null  object
 1   bvd_id                           259581 non-null  object
 2   id                               254769 non-null  float64
 3   registered_addresspostal_code    259581 non-null  object
 4   primaryaddresspostcodeifuk       259581 non-null  object
 5   alltradingaddressespostcodeifuk  259581 non-null  object
 6   sic4                             213596 non-null  float64
 7   birth_year                       254737 non-null  float64
 8   diss_year                        69005 non-null   float64
 9   streetnobuildingetcline1         259581 non-null  object
 10  streetnobuildingetcline1native   259581 non-null  object
 11  streetnobuildingetcline2         259581 non-null  object
 12  streetnobuildingetcline2native   259581 non-null  object
 13  streetnobuildingetcline3         259581 non-null  object
 14  streetnobuildingetcline3native   259581 non-null  object
 15  streetnobuildingetcline4         259581 non-null  object
 16  streetnobuildingetcline4native   259581 non-null  object
 17  postcode                         259581 non-null  object
 18  city                             259581 non-null  object
 19  citynative                       259581 non-null  object
 20  country                          259581 non-null  object
 21  countryisocode                   259581 non-null  object
 22  regionincountry                  259581 non-null  object
 23  typeofregionincountry            259581 non-null  object
 24  telephonenumber                  259581 non-null  object
 25  faxnumber                        259581 non-null  object
 26  addresstype                      259581 non-null  object
 27  address_group                    259581 non-null  float32
 28  isdup_t_postcode                 259581 non-null  int8
 29  _merge                           259581 non-null  category
dtypes: category(1), float32(1), float64(4), int8(1), object(23)
memory usage: 56.9+ MB

### Inspect the missing data

In [20]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)

                                  Total   Percent
diss_year                        190576  0.734168
sic4                              45985  0.177151
birth_year                         4844  0.018661
id                                 4812  0.018538
_merge                                0  0.000000
isdup_t_postcode                      0  0.000000
bvd_id                                0  0.000000
registered_addresspostal_code         0  0.000000
primaryaddresspostcodeifuk            0  0.000000
alltradingaddressespostcodeifuk       0  0.000000
streetnobuildingetcline1              0  0.000000
streetnobuildingetcline1native        0  0.000000
streetnobuildingetcline2              0  0.000000
streetnobuildingetcline2native        0  0.000000
streetnobuildingetcline3              0  0.000000
streetnobuildingetcline3native        0  0.000000
streetnobuildingetcline4              0  0.000000
streetnobuildingetcline4native        0  0.000000
postcode                              0  0.000000
city                                  0  0.000000
citynative                            0  0.000000
country                               0  0.000000
countryisocode                        0  0.000000
regionincountry                       0  0.000000
typeofregionincountry                 0  0.000000
telephonenumber                       0  0.000000
faxnumber                             0  0.000000
addresstype                           0  0.000000
address_group                         0  0.000000
registered_number                     0  0.000000

## Questions
- what is `sic4`?
- what is `dss_year`?
- The valuable attributes are `city`, `country` sth. like addresstype thing?

### Inspect the unique values for all columns

In [21]:
# apply the unique() method to inspect data
for i in df:
    print( str(i) + "\n")
    print(df[str(i)].unique())
    print("------------------------------------------------------------------------------------\n")

registered_number

['00000118' '00000258' '00000371' ... 'ZC000150' 'ZC000164' 'ZC000169']
------------------------------------------------------------------------------------

bvd_id

['' 'GB00002065' 'GB00006480' ... 'GBSO303717' 'GBZC000150' 'GBZC000164']
------------------------------------------------------------------------------------

id

[  233927. 12022629.  2111477. ...  2728817.   473940.  2591699.]
------------------------------------------------------------------------------------

registered_addresspostal_code

['TN23 1DA' 'RG12 1AN' 'SW1Y 6BN' ... 'G2 5AB' 'EH2 1DG' 'WC2B 5RR']
------------------------------------------------------------------------------------

primaryaddresspostcodeifuk

['' 'CB6 1RA' 'PL25 4BY' ... 'EH2 2ER' 'EH6 8QP' 'EH4 3LU']
------------------------------------------------------------------------------------

alltradingaddressespostcodeifuk

['' 'CB6 1RA, CB8 8QT, IP12 1PN, NR17 2QZ, NR21 9NH'
 'PL25 4BY, BA1 1SX, BA1 2AP, BA1 2JL, BL3 3QE' ... 'EH2 2ER'
 'EH6 8QP, EH2 3JG' 'EH4 3LU']
------------------------------------------------------------------------------------

sic4

[4611. 7499.   nan 6810. 6499. 6420. 7010. 6419. 6820. 6430. 6512. 7490.
 8559. 3299. 4110. 8299. 4779. 2813. 1812. 4939. 9411. 5222. 9101. 5020.
 7022. 9609. 4333. 9412. 9999. 5630. 4719.  162. 5814. 5813. 2349. 1712.
 1107. 9603. 7219. 4634. 4299. 2444. 2652. 4791. 2511. 4799. 1820. 1320.
 9499. 2120. 5920. 5510. 6511. 9601. 4690. 8121. 6202.  294. 8899.  111.
 2059. 4673. 4399. 4777. 2562.  150. 9311. 2332. 2841. 2599. 2630. 8623.
 1395. 2451. 1721. 4520. 1330. 1310. 5229. 3109. 2829. 3600. 4754. 4120.
 4771. 4778. 4511. 4759. 2229. 4639.  142. 2561. 4211. 1082. 7721. 5811.
 1105. 4649. 4635. 2711. 5621.  811. 4910. 2894. 1511. 1071. 2110. 7733.
 9329. 5610. 4613. 6622. 6492. 2391. 1102. 1814. 4531. 9003.  610. 5819.
 4762.  812. 1392. 4646. 6832. 2572. 2060. 6910. 4645. 1610. 4676. 8211.
  517. 6491. 4322. 2611. 4674. 8810. 8532. 3250. 4321. 2030. 9312. 1413.
 8130. 3822. 5224. 4643. 1084. 5913. 3511. 2573. 4329. 4776. 4772. 4641.
  510. 6209. 6630. 1072. 1629. 8531. 5210. 5590. 4519. 2822. 2892. 7739.
 2592. 2041. 6629. 4647. 2593. 5530. 2221. 4642.  145. 4616. 4773.  163.
 7484. 1011. 4614. 4942. 9491. 3313. 4332. 4931. 4711. 2790.  892. 1723.
 3212. 2899. 1431. 4722. 7311. 7420. 2410. 5221. 4730. 4752. 4725. 5911.
 7912. 4671. 2223.  240. 8690. 1089. 7112. 8542. 3315. 9800. 4638. 1623.
 6920. 2219. 4631. 5110. 2445. 8292. 3101. 4618. 2431. 4619.  899. 4331.
 4789. 2751. 4726. 6530. 4391. 2571. 4624. 7410. 3319. 4677. 1439. 4675.
 7820. 3320. 4941. 2222. 1393. 4775. 2320. 1039. 3811. 4672. 4761. 4532.
  910. 9200. 4334. 9900. 3102.  125. 4540. 1391.  113. 1419. 4622.  129.
 4339. 2311. 2651. 1061. 7711. 2361. 2550. 6831. 3030. 2849. 8710. 8730.
 2341. 2910. 3821. 4632. 4644. 2042. 3312. 4753. 5914. 3011. 9002. 1051.
 5520. 5040. 2420. 4661. 4781. 5629. 2932. 8520. 1512. 2442. 7740. 2521.
 2319.  161.  119. 2441.  141. 2344. 8610. 1399. 6612. 8020. 1101. 4723.
 4222. 4648. 1920. 2013. 2454. 4764. 1013. 4612. 4751. 3832. 6619. 1813.
 2017. 3513. 4774. 3103. 4663. 4729. 3012.  143. 2920. 7990. 4312. 6611.
 1052. 5829. 5165. 2640.  620. 8560. 2314. 1394. 4743. 6311. 9602. 9001.
 2732. 7911.  147.  312. 9524. 2016. 1729. 2814. 1811. 9810. 2594. 8552.
 2830. 2370. 4669. 9321. 4213. 2540. 7732. 4311. 3317.  124. 6130. 4932.
 3314. 1412. 8510. 2452. 4662. 2453. 1041. 4741. 7111. 4724. 9523. 3099.
 2591. 9004. 2053. 5223.  149. 7312. 8110. 6190. 7120. 4617. 4721. 2824.
 9522. 4621. 2433. 7810.  146. 1624. 2051. 2740. 4636. 4652. 6621. 2825.
 3230. 9319. 9313. 7734. 1520. 7021. 4763. 2312.  210. 9102. 5912. 9529.
 1083. 2712. 8010. 6201. 3530. 8790. 1396. 4664. 4615. 6399. 9104. 8122.
 6020. 7830. 4221. 3900. 4651. 7729. 3316. 4666. 2620. 5030. 8230.  311.
 4637. 1722. 8220. 4665. 8541. 2670. 8129. 6520. 2893. 1085. 3240. 2015.
 4623. 2733. 7731. 2811. 1200. 9700. 8720. 5010. 3311. 3220. 2529. 5310.
 9103. 3700. 2020. 7320. 2812. 2823. 4765. 2612. 9525. 1020. 2012. 3091.
 1091. 8291. 3092. 3522. 1622. 9820. 8553. 4633. 7500. 5121. 2512. 4291.
 8412. 9492. 2896. 4313. 7430.  116. 8622.  322.  722. 2011. 6010. 7712.
 6110. 1032. 1103.  164. 6203. 7735. 5320. 8621. 8030. 2821. 1411. 8891.
 1092. 1621. 1414. 6120. 2443. 2815. 8219. 9511.  321. 3514. 2014. 4920.
 2052.  729. 2351. 7211. 5821. 6312. 8422. 8551. 5170.  170. 2895. 9604.
 5812. 2399. 4950.  130. 8425.  990.  220. 2720. 1062. 5511.  401. 9512.
 6391. 2660. 3291. 3812. 4010. 7220.  115. 1724. 1031. 7722. 3512. 8411.
 2364. 3831. 5122. 4742.  402. 4212. 8424. 2931. 5164. 7483. 2432. 1106.
 2752. 2331. 9521. 2530. 2363. 2211. 1042. 2313. 3521. 2680. 2362. 8423.
 1086. 9420. 9500. 4782. 2369. 3523. 6411. 2352. 1012. 8421. 1104.  121.
  721.  127. 1910.  710. 3213. 3040. 2343.  122. 1711. 8430. 8413. 3020.]
------------------------------------------------------------------------------------

birth_year

[1856. 1863. 1857. 1864. 1865. 1868. 1869. 1870. 1871. 1872. 1873. 1874.
 1875. 1876. 1877. 1878. 1879. 1880. 1881. 1882. 1883. 1884. 1885. 1886.
 1887. 1889. 1890. 1891. 1892. 1893. 1894. 1895. 1896. 1897. 1898. 1899.
 1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1968. 1909. 1910.
 1911. 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920. 1921. 1922.
 1923. 1924. 1925. 1926. 1927. 1928. 1929. 1930. 1931. 1932. 1933. 1934.
 1935. 1936. 1937. 1938. 1939. 1940. 1941. 1942. 1943. 1944. 1945. 1946.
 1947. 1948. 1949. 1950. 1951. 1952. 1953. 1954. 1955. 1956. 1957. 1958.
 1959. 1960. 1961. 1962. 1963. 1964. 1965. 1966. 1967. 1969. 1970. 1971.
 1972. 1973. 1974. 1975. 1976. 1977. 1978. 1979. 1980. 1981. 1982. 1983.
 1984. 1985. 1986. 1987. 1988. 1989. 1990. 1991. 1992. 1993. 1994. 1995.
 1996. 1997. 1998. 1999. 2000. 2001. 2002. 2003. 2004. 2005. 2006. 2007.
 2008. 2009. 2010. 2011. 2012. 2013. 2014. 2015. 2016. 2017. 2018.   nan
 1888.]
------------------------------------------------------------------------------------

diss_year

[  nan 2014. 2018. 2011. 2017. 2012. 2013. 2008. 2015. 2001. 1997. 2016.
 2009. 2007. 1999. 2003. 2004. 1996. 1991. 2000. 2010. 2006. 2005. 2002.
 1998. 1995. 1990.    8.]
------------------------------------------------------------------------------------

streetnobuildingetcline1

['The New Ashford Market' 'India Buildings' 'St Clements House' ...
 'Rowaleyn Glenarn Road' '22 The Shipyard' 'Paignton Pier']
------------------------------------------------------------------------------------

streetnobuildingetcline1native

['The New Ashford Market' 'India Buildings' 'St Clements House' ...
 'Rowaleyn Glenarn Road' '22 The Shipyard' 'Paignton Pier']
------------------------------------------------------------------------------------

streetnobuildingetcline2

['Monument Way Orbital Park' '' '2-16 Colegate' ... 'Burnside'
 'Castlecary' 'Esplanade Road']
------------------------------------------------------------------------------------

streetnobuildingetcline2native

['Monument Way Orbital Park' '' '2-16 Colegate' ... 'Burnside'
 'Castlecary' 'Esplanade Road']
------------------------------------------------------------------------------------

streetnobuildingetcline3

['' 'Hersham' 'Gwent' ... '2 Hillview Drive' 'Beckford Street'
 'Midlothian ']
------------------------------------------------------------------------------------

streetnobuildingetcline3native

['' 'Hersham' 'Gwent' ... '2 Hillview Drive' 'Beckford Street'
 'Midlothian ']
------------------------------------------------------------------------------------

streetnobuildingetcline4

['' 'Bute' 'Lancashire' 'Oxfordshire' 'Bedfordshire'
 'Skelmersdale Lancashire' 'South Glamorgan' 'Devon' 'West Yorkshire'
 'Stourbridge' 'Hertfordshire' 'Mid Glamorgan' 'Hampshire'
 'South Yorkshire' 'Cambridgeshire' 'Leamington Spa' 'Glasgow Lanarkshire'
 'Gwent' 'Aberdeenshire' 'Bolton' 'Warley' 'Harrogate' 'Shropshire'
 'Wirral Merseyside' 'Newbury' 'Surrey' 'Berkshire'
 'Ellesmere Port Cheshire' 'Essex' 'St. Neots' 'Sutton-in-ashfield'
 'Dyfed' 'Brierley Hill' 'Diss Norfolk' 'Ox8' 'Borehamwood Hertfordshire'
 'Horley Surrey' 'Avon' "King's Langley" 'Cheshire' 'Birmingham' 'Preston'
 'Keston' 'Bishops Stortford' 'Bury St. Edmunds' 'St Helens Merseyside'
 'Suffolk' 'Newnham' 'Bootle' 'Norfolk' 'Solihull' 'Llanon' 'Cheltenham'
 'Welwyn Garden City' 'Knutsford' 'Hope Valley South Yorkshire'
 'Peterborough' 'St. Albans' 'London' 'St Neots' 'Cardiff South Glamorgan'
 'Dronfield South Yorkshire' 'Rochdale' 'West Midlands' 'Wirral' 'Bath'
 'Manchester' 'Huddersfield' 'Merseyside' 'Washington' 'Newport Gwent'
 'Douglas' 'Blackpool' 'Reading' 'Ashton-under-lyne'
 'Kenilworth Warwickshire' 'Midlothian' 'Newport' 'St. Helens' 'Cb4 5qr'
 'W Glam' 'Lanarkshire' 'Hounslow Middlesex' 'Halstead Essex' 'Chelmsford'
 'West Molesey' 'Gloucestershire' 'Halesowen' 'Oxford Oxfordshire'
 'Leyburn' 'Letchworth Garden City' 'Winchelsea' 'Wilmslow'
 'Neston Cheshire' 'Lyndhurst' 'Lytham St. Annes' 'Warwickshire' 'St Ives'
 'Maidstone' 'Plymouth Devon' 'Middlesex' 'Carterton'
 'Crowthorne Berkshire' 'Staffordshire' 'Burgess Hill' 'Derby'
 'Redruth Cornwall' 'Swansea' 'Kent' 'Islands' 'Worthing' 'St. Austell'
 'Birmingham West Midlands' 'Darlington County Durham' 'Lee-on-the-solent'
 'Bucknell' 'Southminster' 'Nottinghamshire' 'Somerset' 'Bristol Avon'
 'New Milton' 'Derbyshire' 'Hunstanton' 'Wiltshire' 'Petersfield'
 'Roxburghshire' 'Cornwall' 'Dorset' 'North' 'Maldon' 'Ware'
 'Sutton Surrey' 'Gainsborough' 'Hertford'
 'Bishops Stortford Hertfordshire' 'Sutton Coldfield' 'Worcestershire'
 'East Sussex' 'Llandudno Junction' 'Ilfracombe Devon' 'Cardigan'
 'Gwynedd' 'Cirencester' 'Skelmersdale' 'Liverpool' 'Ilfracombe' 'Pinner'
 'Swansea W Glam' 'Durham County Durham' 'Gillingham' "King's Lynn"
 'Birkenhead' 'Much Hadham' 'Inverkeithing' 'Barnsley' 'Penryn'
 'Pontefract' 'Potters Bar Hertfordshire' 'Nottingham'
 'Gloucester Gloucestershire' 'Bromsgrove' 'Colchester' 'St. Ives'
 'Thetford Norfolk' 'Buckinghamshire' 'West Sussex' 'West Glamorgan'
 'Fareham' 'Banbury' 'Uppingham' 'County Durham' 'South Molton'
 'Lincoln Lincolnshire' 'Worcester Worcestershire' "King's Lynn Norfolk"
 'North Tawton' 'Mold' 'Carlisle Cumbria' 'Croydon' 'Colchester Essex'
 'St. Asaph' 'Worcester' 'Tyne and Wear' 'Devizes' 'Crawley'
 'Ilford Essex' 'Otley' 'Leeds' 'North Yorkshire' 'North Humberside'
 'Canterbury Kent' 'Bath Avon' 'Ascot' 'Thatcham Berkshire' 'Newcastle'
 'Great Yarmouth Norfolk' 'Leicester' 'Kidlington' 'Lincolnshire'
 'Carnforth Lancashire' 'Llanfechain' 'Basildon Essex'
 'Saltburn-by-the-sea' 'Havant' 'Abingdon' 'Brighton' 'Northumberland'
 'Powys' 'Saffron Walden Essex' 'Harrogate North Yorkshire' 'Berkhamsted'
 'Northamptonshire' 'Hartlepool Cleveland' 'Reading Berkshire' 'Lichfield'
 'St Leonards-on-sea' 'Stowmarket' 'Burnham-on-crouch Essex'
 'Harrow Middlesex' 'Harpenden' 'Hove' 'Leicestershire' 'Middlesbrough'
 'Wimborne' 'Launceston Cornwall' 'Ipswich Suffolk' 'Leigh-on-sea Essex'
 'Milton Keynes Buckinghamshire' 'Loughborough' 'Sandy Bedfordshire'
 'Bromley' 'Croydon Surrey' 'Rochford' 'Chinnor' 'Caterham'
 'Burgess Hill West Sussex' 'Waterlooville' 'Darwen'
 'Halifax West Yorkshire' 'Aylesbury' 'Barnet Hertfordshire'
 'Brighton East Sussex' 'Stalybridge Cheshire' 'Exeter' 'Clwyd'
 'Southampton' 'Keighley' 'Basingstoke' 'Hitchin' 'Arundel' 'Godalming'
 'West' 'Sunbury-on-thames' 'Burton-on-trent Staffordshire' 'Wickford'
 'High Wycombe' 'Shifnal' 'Stafford' 'Greenford' 'Luton Bedfordshire'
 'Tarporley' 'Stockport Cheshire' 'Northampton' 'Durham' 'Wakefield'
 'Chesterfield Derbyshire' 'Newcastle-upon-tyne'
 'Chester-le-street County Durham' 'Doncaster South Yorkshire' 'Rochester'
 'Derby Derbyshire' 'Ringwood Hampshire' 'Edgware Middlesex'
 'Hove East Sussex' 'Burnley' 'Burnley Lancashire' 'Warrington Cheshire'
 'Oxford' 'Witney Oxfordshire' 'Winchester' 'Belfast' 'Co Londonderry'
 'St Helens' 'Kincardineshire' 'Falkirk' 'Newcastleton' 'Edinburgh'
 'Shetland' 'Glasgow' 'Longniddry' 'Dumfriesshire' 'Mid' 'Fife'
 'Morayshire' 'Forres Morayshire' 'Kinross Kinrossshire' 'Inverness-Shire'
 'Kilmarnock Ayrshire' 'Stirlingshire' 'Southampton Hampshire'
 'East Lothian' 'Forfar']
------------------------------------------------------------------------------------

streetnobuildingetcline4native

['' 'Bute' 'Lancashire' 'Oxfordshire' 'Bedfordshire'
 'Skelmersdale Lancashire' 'South Glamorgan' 'Devon' 'West Yorkshire'
 'Stourbridge' 'Hertfordshire' 'Mid Glamorgan' 'Hampshire'
 'South Yorkshire' 'Cambridgeshire' 'Leamington Spa' 'Glasgow Lanarkshire'
 'Gwent' 'Aberdeenshire' 'Bolton' 'Warley' 'Harrogate' 'Shropshire'
 'Wirral Merseyside' 'Newbury' 'Surrey' 'Berkshire'
 'Ellesmere Port Cheshire' 'Essex' 'St. Neots' 'Sutton-in-ashfield'
 'Dyfed' 'Brierley Hill' 'Diss Norfolk' 'Ox8' 'Borehamwood Hertfordshire'
 'Horley Surrey' 'Avon' "King's Langley" 'Cheshire' 'Birmingham' 'Preston'
 'Keston' 'Bishops Stortford' 'Bury St. Edmunds' 'St Helens Merseyside'
 'Suffolk' 'Newnham' 'Bootle' 'Norfolk' 'Solihull' 'Llanon' 'Cheltenham'
 'Welwyn Garden City' 'Knutsford' 'Hope Valley South Yorkshire'
 'Peterborough' 'St. Albans' 'London' 'St Neots' 'Cardiff South Glamorgan'
 'Dronfield South Yorkshire' 'Rochdale' 'West Midlands' 'Wirral' 'Bath'
 'Manchester' 'Huddersfield' 'Merseyside' 'Washington' 'Newport Gwent'
 'Douglas' 'Blackpool' 'Reading' 'Ashton-under-lyne'
 'Kenilworth Warwickshire' 'Midlothian' 'Newport' 'St. Helens' 'Cb4 5qr'
 'W Glam' 'Lanarkshire' 'Hounslow Middlesex' 'Halstead Essex' 'Chelmsford'
 'West Molesey' 'Gloucestershire' 'Halesowen' 'Oxford Oxfordshire'
 'Leyburn' 'Letchworth Garden City' 'Winchelsea' 'Wilmslow'
 'Neston Cheshire' 'Lyndhurst' 'Lytham St. Annes' 'Warwickshire' 'St Ives'
 'Maidstone' 'Plymouth Devon' 'Middlesex' 'Carterton'
 'Crowthorne Berkshire' 'Staffordshire' 'Burgess Hill' 'Derby'
 'Redruth Cornwall' 'Swansea' 'Kent' 'Islands' 'Worthing' 'St. Austell'
 'Birmingham West Midlands' 'Darlington County Durham' 'Lee-on-the-solent'
 'Bucknell' 'Southminster' 'Nottinghamshire' 'Somerset' 'Bristol Avon'
 'New Milton' 'Derbyshire' 'Hunstanton' 'Wiltshire' 'Petersfield'
 'Roxburghshire' 'Cornwall' 'Dorset' 'North' 'Maldon' 'Ware'
 'Sutton Surrey' 'Gainsborough' 'Hertford'
 'Bishops Stortford Hertfordshire' 'Sutton Coldfield' 'Worcestershire'
 'East Sussex' 'Llandudno Junction' 'Ilfracombe Devon' 'Cardigan'
 'Gwynedd' 'Cirencester' 'Skelmersdale' 'Liverpool' 'Ilfracombe' 'Pinner'
 'Swansea W Glam' 'Durham County Durham' 'Gillingham' "King's Lynn"
 'Birkenhead' 'Much Hadham' 'Inverkeithing' 'Barnsley' 'Penryn'
 'Pontefract' 'Potters Bar Hertfordshire' 'Nottingham'
 'Gloucester Gloucestershire' 'Bromsgrove' 'Colchester' 'St. Ives'
 'Thetford Norfolk' 'Buckinghamshire' 'West Sussex' 'West Glamorgan'
 'Fareham' 'Banbury' 'Uppingham' 'County Durham' 'South Molton'
 'Lincoln Lincolnshire' 'Worcester Worcestershire' "King's Lynn Norfolk"
 'North Tawton' 'Mold' 'Carlisle Cumbria' 'Croydon' 'Colchester Essex'
 'St. Asaph' 'Worcester' 'Tyne and Wear' 'Devizes' 'Crawley'
 'Ilford Essex' 'Otley' 'Leeds' 'North Yorkshire' 'North Humberside'
 'Canterbury Kent' 'Bath Avon' 'Ascot' 'Thatcham Berkshire' 'Newcastle'
 'Great Yarmouth Norfolk' 'Leicester' 'Kidlington' 'Lincolnshire'
 'Carnforth Lancashire' 'Llanfechain' 'Basildon Essex'
 'Saltburn-by-the-sea' 'Havant' 'Abingdon' 'Brighton' 'Northumberland'
 'Powys' 'Saffron Walden Essex' 'Harrogate North Yorkshire' 'Berkhamsted'
 'Northamptonshire' 'Hartlepool Cleveland' 'Reading Berkshire' 'Lichfield'
 'St Leonards-on-sea' 'Stowmarket' 'Burnham-on-crouch Essex'
 'Harrow Middlesex' 'Harpenden' 'Hove' 'Leicestershire' 'Middlesbrough'
 'Wimborne' 'Launceston Cornwall' 'Ipswich Suffolk' 'Leigh-on-sea Essex'
 'Milton Keynes Buckinghamshire' 'Loughborough' 'Sandy Bedfordshire'
 'Bromley' 'Croydon Surrey' 'Rochford' 'Chinnor' 'Caterham'
 'Burgess Hill West Sussex' 'Waterlooville' 'Darwen'
 'Halifax West Yorkshire' 'Aylesbury' 'Barnet Hertfordshire'
 'Brighton East Sussex' 'Stalybridge Cheshire' 'Exeter' 'Clwyd'
 'Southampton' 'Keighley' 'Basingstoke' 'Hitchin' 'Arundel' 'Godalming'
 'West' 'Sunbury-on-thames' 'Burton-on-trent Staffordshire' 'Wickford'
 'High Wycombe' 'Shifnal' 'Stafford' 'Greenford' 'Luton Bedfordshire'
 'Tarporley' 'Stockport Cheshire' 'Northampton' 'Durham' 'Wakefield'
 'Chesterfield Derbyshire' 'Newcastle-upon-tyne'
 'Chester-le-street County Durham' 'Doncaster South Yorkshire' 'Rochester'
 'Derby Derbyshire' 'Ringwood Hampshire' 'Edgware Middlesex'
 'Hove East Sussex' 'Burnley' 'Burnley Lancashire' 'Warrington Cheshire'
 'Oxford' 'Witney Oxfordshire' 'Winchester' 'Belfast' 'Co Londonderry'
 'St Helens' 'Kincardineshire' 'Falkirk' 'Newcastleton' 'Edinburgh'
 'Shetland' 'Glasgow' 'Longniddry' 'Dumfriesshire' 'Mid' 'Fife'
 'Morayshire' 'Forres Morayshire' 'Kinross Kinrossshire' 'Inverness-Shire'
 'Kilmarnock Ayrshire' 'Stirlingshire' 'Southampton Hampshire'
 'East Lothian' 'Forfar']
------------------------------------------------------------------------------------

postcode

['TN24 0HB' 'L13' 'NR3 1BQ' ... 'TR13 9JY' 'BN2 1TW' 'TQ4 6BW']
------------------------------------------------------------------------------------

city

['Ashford' 'Liverpool' 'Norwich' ... 'Port Askaig' 'Menstrie'
 'Isle Of Mull']
------------------------------------------------------------------------------------

citynative

['Ashford' 'Liverpool' 'Norwich' ... 'Port Askaig' 'Menstrie'
 'Isle Of Mull']
------------------------------------------------------------------------------------

country

['United Kingdom' '' 'Bulgaria' 'Israel' 'United States of America'
 'Jersey' 'Isle Of Man' 'Guernsey']
------------------------------------------------------------------------------------

countryisocode

['GB' '' 'BG' 'IL' 'US' 'AU' 'IN' 'NZ']
------------------------------------------------------------------------------------

regionincountry

['England|South Eastern|Tonbridge (TN)|Ashford'
 'England|North West|Liverpool (L)|Liverpool'
 'England|Eastern|Norwich (NR)|Norwich' ...
 'Scotland|Falkirk (FK)|Menstrie' 'Scotland|Paisley (PA)'
 'Scotland|Paisley (PA)|Isle Of Mull']
------------------------------------------------------------------------------------

typeofregionincountry

['Country|Region|Postal area|Town' '' 'Country|Postal area|Town|'
 'Country|Region|Postal area' 'Country|Postal area|Town' 'Postal area|||'
 'Postal area|Town||' 'Postal area|Parish||' 'Postal area|Town|'
 'Country|Region|Postal area|' 'Postal area||' 'Postal area|Parish'
 'Country' 'Country|Region' 'Postal area|Town' 'Postal area'
 'Country|Postal area']
------------------------------------------------------------------------------------

telephonenumber

['01233506201' '' '01752275850' ...
 '01326562995 - registered on TPS - registered on TPS' '01273609361'
 '01803522139']
------------------------------------------------------------------------------------

faxnumber

['']
------------------------------------------------------------------------------------

addresstype

['Trading address' 'Office address']
------------------------------------------------------------------------------------

address_group

[1.]
------------------------------------------------------------------------------------

isdup_t_postcode

[ 0  1  6  2  3 20 78 16]
------------------------------------------------------------------------------------

_merge

['matched (3)']
Categories (1, object): ['matched (3)']
------------------------------------------------------------------------------------

In [19]:
# export the CSV file
df.to_csv("/Users/fangzeqiang/Desktop/OC_1_1.csv")