# 3rd Update - Identify the Tech Industry

Before identifing the movers, it is important to filter data by specific industries(tech industry).

In [1]:
# dfp = df processed
import pandas as pd
DIR = "/Users/fangzeqiang/Desktop/Dissertation/"
dfp_fame_OC = pd.read_csv(DIR + "fame_OC_dropna_uksic7.csv")

/Users/fangzeqiang/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,3,4,13,14,15,16,17,19,20,21,22,23,25,27,29,33,40,41,55,56,57,58,59,60,61,62,63,64,65) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
dfp = dfp_fame_OC.copy()
dfp.head()

,Unnamed: 0,Unnamed: 0.1,registered_number,incorporation_date,dissolution_date,latest_accounts_cash,latest_accounts_assets,latest_accounts_liabilities,year_obs,sic_year,...,pcd2,pcds,cty,laua,ctry,rgn,ttwa,pct,lep1,lep2
0,451,451,06199872,2007-04-02,NaN,NaN,15785.0,NaN,2017,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1033,1033,11896710,NaN,NaN,NaN,NaN,NaN,2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1290,1290,10673845,2017-03-16,NaN,NaN,NaN,NaN,2018,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1310,1310,00344297,1938-09-14,NaN,5.0,NaN,NaN,2017,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1578,1578,09814400,2015-10-07,NaN,NaN,95826.0,NaN,2017,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dfp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2458550 entries, 0 to 2458549
Data columns (total 66 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Unnamed: 0                        int64
 1   Unnamed: 0.1                      int64
 2   registered_number                 object
 3   incorporation_date                object
 4   dissolution_date                  object
 5   latest_accounts_cash              float64
 6   latest_accounts_assets            float64
 7   latest_accounts_liabilities       float64
 8   year_obs                          int64
 9   sic_year                          float64
 10  sic4                              float64
 11  change_sic                        float64
 12  id                                float64
 13  jurisdiction_code                 object
 14  name                              object
 15  normalised_name                   object
 16  registered_addresspostal_code     object
 17  company_type                      object
 18  year_accounts                     float64
 19  registeredname                    object
 20  incorporationdate                 object
 21  companieshousestatus              object
 22  primaryaddresspostcodeifuk        object
 23  alltradingaddressespostcodeifuk   object
 24  siccodes2007                      float64
 25  istheultimateparent               object
 26  numberofchildcompanies            float64
 27  companieshousenumbersofchildcomp  object
 28  numberofcompaniesinitscorporates  float64
 29  companieshousenumbersofcompanies  object
 30  bh_dummy                          float64
 31  bh_notmerged                      float64
 32  oc                                float64
 33  string                            object
 34  keep                              float64
 35  merge_max_anna                    float64
 36  max_anna                          float64
 37  company_name                      object
 38  bvd_id                            object
 39  primary_uk_sic_2007               float64
 40  nr_employees_last_avail_yr        object
 41  ro_full_postcode                  object
 42  ro_country                        object
 43  guo_bvd_id                        object
 44  guo_name                          object
 45  guo_direct_share                  object
 46  duo_bvd_id                        object
 47  duo_name                          object
 48  duo_direct_share                  float64
 49  merge_fame                        int64
 50  fame                              float64
 51  sample                            object
 52  birth_year                        float64
 53  diss_year                         float64
 54  age                               float64
 55  postcode                          object
 56  pcd2                              object
 57  pcds                              object
 58  cty                               object
 59  laua                              object
 60  ctry                              object
 61  rgn                               object
 62  ttwa                              object
 63  pct                               object
 64  lep1                              object
 65  lep2                              object
dtypes: float64(23), int64(4), object(39)
memory usage: 1.2+ GB

### Missing Data Finding

In [3]:
# inspect the missing data columns
import numpy as np
import pandas as pd

df = dfp.copy()

# Data cleaning
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

In [4]:
missing_data

                                    Total   Percent
companieshousenumbersofchildcomp  2453989  0.998145
dissolution_date                  2453863  0.998094
diss_year                         2453863  0.998094
incorporationdate                 2443331  0.993810
alltradingaddressespostcodeifuk   2443030  0.993687
...                                   ...       ...
guo_bvd_id                              0  0.000000
primary_uk_sic_2007                     0  0.000000
bvd_id                                  0  0.000000
company_name                            0  0.000000
Unnamed: 0                              0  0.000000

[66 rows x 2 columns]

In [11]:
# change the data types
dfp.primary_uk_sic_2007.astype("int32")

0          86220
1          26600
2          43390
3          90020
4          70229
           ...
2458545    55100
2458546    43999
2458547    81300
2458548    82990
2458549     4120
Name: primary_uk_sic_2007, Length: 2458550, dtype: int32

### Import 2007 SIC CODE

How to recoginse the tech firms?

Read the tech companies which is detected by www.ons.gov.uk

Then Get the sic_code_2007 i.e. 5 digitals code 

These sic code can help to recognise the tech companies.

ref: https://www.ons.gov.uk/businessindustryandtrade/business/businessinnovation/datasets/scienceandtechnologyclassification

![tech_category](https://webarchive.nationalarchives.gov.uk/20160105160709/http://www.ons.gov.uk/ons/resources/apx1constituentsofsntclassification_tcm77-395062.png)

In [1]:
import pandas as pd
import sys
PATH = sys.path[0]
df_sic7_tech = pd.read_csv(PATH + "/" + "Dataset/sic_code_tech.csv")

In [2]:
# df_sic7_tech.style
df_sic7_tech.head()

,SIC07 type,SIC07 Section,SIC07 code,5-digit SIC07 code,SIC07 heading,Lowest-level SIC07 identifier,Science and Technology indicator,Science and Technology category,Science and Technology topic
0,Sub-class,C,19.20/1,19201,Mineral oil refining,1,4,Other scientific/technological manufacture,Chemical & Chemical Product manufacturing (exc...
1,Sub-class,C,19.20/9,19209,Other treatment of petroleum products (excludi...,1,4,Other scientific/technological manufacture,Chemical & Chemical Product manufacturing (exc...
2,Class,C,20.11,20110,Manufacture of industrial gases,1,4,Other scientific/technological manufacture,Chemical & Chemical Product manufacturing (exc...
3,Class,C,20.12,20120,Manufacture of dyes and pigments,1,4,Other scientific/technological manufacture,Chemical & Chemical Product manufacturing (exc...
4,Class,C,20.13,20130,Manufacture of other inorganic basic chemicals,1,4,Other scientific/technological manufacture,Chemical & Chemical Product manufacturing (exc...

In [8]:
df_sic7_tech["SIC07 code"].unique()

array(['19.20/1', '19.20/9', '20.11', '20.12', '20.13', '20.14', '20.15',
       '20.16', '20.17', '20.2', '20.30/1', '20.30/2', '20.41/1',
       '20.41/2', '20.42', '20.51', '20.52', '20.53', '20.59', '20.6',
       '21.1', '21.2', '25.21', '25.3', '25.4', '26.11', '26.12', '26.2',
       '26.30/1', '26.30/9', '26.4', '26.51/1', '26.51/2', '26.51/3',
       '26.51/4', '26.52', '26.6', '26.70/1', '26.70/2', '26.8', '27.11',
       '27.12', '27.2', '27.31', '27.32', '27.33', '27.4', '27.51',
       '27.52', '27.9', '28.11', '28.12', '28.13/1', '28.13/2', '28.14',
       '28.15', '28.21', '28.22', '28.23', '28.24', '28.25', '28.29',
       '28.30/1', '28.30/2', '28.41', '28.49', '28.91', '28.92/1',
       '28.92/2', '28.92/3', '28.93', '28.94', '28.95', '28.96', '28.99',
       '29.1', '29.20/1', '29.20/2', '29.20/3', '29.31', '29.32', '30.11',
       '30.12', '30.2', '30.3', '30.4', '30.91', '30.92', '30.99',
       '32.12', '32.40/1', '32.5', '33.12', '33.13', '33.14', '33.15',
       '33.16', '33.17', '51.10/1', '51.10/2', '51.21', '51.22', '58.11',
       '58.12', '58.13', '58.14/1', '58.14/2', '58.19', '58.21', '58.29',
       '59.11/1', '59.11/2', '59.11/3', '59.12', '59.13/1', '59.13/2',
       '59.13/3', '59.14', '59.2', '60.1', '60.2', '61.1', '61.2', '61.3',
       '61.9', '62.01/1', '62.01/2', '62.02', '62.03', '62.09', '63.11',
       '63.12', '63.91', '63.99', '71.11/1', '71.11/2', '71.12/1',
       '71.12/2', '71.12/9', '71.2', '72.11', '72.19', '72.2', '73.11',
       '73.12', '73.2', '74.1', '74.20/1', '74.20/2', '74.20/3',
       '74.20/9', '74.90/1', '74.90/2', '75', '85.41', '85.42/1',
       '85.42/2', '86.10/1', '86.10/2', '86.21', '86.22', '86.23', '86.9',
       '95.11', '95.12', '95.21', '95.22', '95.25'], dtype=object)

### Recognise the tech companies

In [7]:
tech_sic_code = df_sic7_tech[["5-digit SIC07 code"]]
tech_sic_code = tech_sic_code.rename(columns={"5-digit SIC07 code":'sic07_code'})
tech_sic_code.astype("int32")

     sic07_code
0         19201
1         19209
2         20110
3         20120
4         20130
..          ...
163       95110
164       95120
165       95210
166       95220
167       95250

[168 rows x 1 columns]

In [8]:
# dfp is the raw data
dfp['is_tech'] = dfp['primary_uk_sic_2007'].isin(tech_sic_code.sic07_code)

In [9]:
dfp_tech = dfp[dfp['is_tech']==1]

The cleaned raw data's rows and columns number:

In [32]:
dfp.shape

(2458550, 67)

The shape of cleaned tech firm data is:

In [33]:
dfp_tech.shape

(513708, 67)

In [35]:
a = dfp_tech.shape[0]/dfp.shape[0]
a

0.20894755038538976

There are almost **20%** firms in the raw data belonging to tech firms, according to the method of category as metioned above.

In [10]:
# export the tech industry firm
dfp_tech.to_csv(DIR + "fame_OC_tech_firm.csv")

# 2nd Update 

## Comments / suggestions: 

1/ Identifying movers - as we discussed, given your proposed research question, you should check if you can identify movers in the data as is (e.g. can you see time-varying address information for firms). If yes, great. If no, let me know - I will see if there's another cut of the data that would permit this. If there isn't, we can try and reshape the research question a bit.

2/ Co-ordinates - you can use the ONS Postcode Directory to link postcodes to eastings/northings (specifically, of postcode centroids). The links again are https://geoportal.statistics.gov.uk/; https://en.wikipedia.org/wiki/ONS_Postcode_Directory.

3/ Industries - have a think about specific industries (e.g. tech? creative? something else?) you might want to focus the analysis on.

3/ Literature review - you should start building references (using zotero, endnote or similar) and if you can, start work on your literature review. I would start by searching for overviews of the clusters literature, e.g. I think I already mentioned this one on tech clusters: https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3491774.  

4/ Ethical reflection - for Monday or before, please send me a short para of ethical reflection, explaining why the project does not need formal ethical review. 

## For our next meeting: 

~~A/ Please book a slot for our next meeting on 18/19 May, 2-4pm UK time, using https://maxnathan.youcanbook.me.~~

B/ Overview document - before our next meeting, please draft a 1-2 page overview doc. This should build on your proposal form and today's meeting, and should include: 

- research question 
- why the topic / question is important 
- any references from an initial literature search 
- datasets and where you will get these 
- tools / software you will use 
- risks and challenges and how you might meet these (we can discuss in the meeting)
- any further questions you have. 

You have already made a start on some of this, so it shouldn't take long! 

Please send this to me **by 12 May** if possible.

# Import the dta file

In [ ]:
# Here is a little function that has been handy for me, using some pandas features that might not have been available when the question was originally posed:

import pandas as pd

def load_large_dta(fname):
    import sys

    reader = pd.read_stata(fname, iterator=True)
    df = pd.DataFrame()

    try:
        chunk = reader.get_chunk(100*1000)
        while len(chunk) > 0:
            df = df.append(chunk, ignore_index=True)
            chunk = reader.get_chunk(100*1000)
            # print('.')
            sys.stdout.flush()
    except (StopIteration, KeyboardInterrupt):
        pass

    print('\nloaded' + str(format(len(df))))

    return df

df = load_large_dta("/Users/fangzeqiang/Desktop/Dissertation/fame_OC.dta")

df.to_csv("/Users/fangzeqiang/Desktop/Dissertation/fame_OC.csv")

In [1]:
DIR = "/Users/fangzeqiang/Desktop/Dissertation/"
import pandas as pd
df_fame_OC = pd.read_csv("/Users/fangzeqiang/Desktop/Dissertation/fame_OC.csv")
df_fame_OC.head()

/Users/fangzeqiang/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,2,3,12,13,14,15,16,18,19,20,21,22,24,26,28,32,36,37,39,40,41,42,43,44,45,46,54,55,56,57,58,59,60,61,62,63,64) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,registered_number,incorporation_date,dissolution_date,latest_accounts_cash,latest_accounts_assets,latest_accounts_liabilities,year_obs,sic_year,sic4,...,pcd2,pcds,cty,laua,ctry,rgn,ttwa,pct,lep1,lep2
0,0,00428557,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,00851482,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,02251331,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,01918723,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,01945037,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df_fame_OC.columns

Index(['Unnamed: 0', 'registered_number', 'incorporation_date',
       'dissolution_date', 'latest_accounts_cash', 'latest_accounts_assets',
       'latest_accounts_liabilities', 'year_obs', 'sic_year', 'sic4',
       'change_sic', 'id', 'jurisdiction_code', 'name', 'normalised_name',
       'registered_addresspostal_code', 'company_type', 'year_accounts',
       'registeredname', 'incorporationdate', 'companieshousestatus',
       'primaryaddresspostcodeifuk', 'alltradingaddressespostcodeifuk',
       'siccodes2007', 'istheultimateparent', 'numberofchildcompanies',
       'companieshousenumbersofchildcomp', 'numberofcompaniesinitscorporates',
       'companieshousenumbersofcompanies', 'bh_dummy', 'bh_notmerged', 'oc',
       'string', 'keep', 'merge_max_anna', 'max_anna', 'company_name',
       'bvd_id', 'primary_uk_sic_2007', 'nr_employees_last_avail_yr',
       'ro_full_postcode', 'ro_country', 'guo_bvd_id', 'guo_name',
       'guo_direct_share', 'duo_bvd_id', 'duo_name', 'duo_direct_share',
       'merge_fame', 'fame', 'sample', 'birth_year', 'diss_year', 'age',
       'postcode', 'pcd2', 'pcds', 'cty', 'laua', 'ctry', 'rgn', 'ttwa', 'pct',
       'lep1', 'lep2'],
      dtype='object')

Notice: The `company_type` may be the key thing we need :)

In [11]:
df_fame_OC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11807732 entries, 0 to 11807731
Data columns (total 65 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Unnamed: 0                        int64
 1   registered_number                 object
 2   incorporation_date                object
 3   dissolution_date                  object
 4   latest_accounts_cash              float64
 5   latest_accounts_assets            float64
 6   latest_accounts_liabilities       float64
 7   year_obs                          int64
 8   sic_year                          float64
 9   sic4                              float64
 10  change_sic                        float64
 11  id                                float64
 12  jurisdiction_code                 object
 13  name                              object
 14  normalised_name                   object
 15  registered_addresspostal_code     object
 16  company_type                      object
 17  year_accounts                     float64
 18  registeredname                    object
 19  incorporationdate                 object
 20  companieshousestatus              object
 21  primaryaddresspostcodeifuk        object
 22  alltradingaddressespostcodeifuk   object
 23  siccodes2007                      float64
 24  istheultimateparent               object
 25  numberofchildcompanies            float64
 26  companieshousenumbersofchildcomp  object
 27  numberofcompaniesinitscorporates  float64
 28  companieshousenumbersofcompanies  object
 29  bh_dummy                          float64
 30  bh_notmerged                      float64
 31  oc                                float64
 32  string                            object
 33  keep                              float64
 34  merge_max_anna                    float64
 35  max_anna                          float64
 36  company_name                      object
 37  bvd_id                            object
 38  primary_uk_sic_2007               float64
 39  nr_employees_last_avail_yr        object
 40  ro_full_postcode                  object
 41  ro_country                        object
 42  guo_bvd_id                        object
 43  guo_name                          object
 44  guo_direct_share                  object
 45  duo_bvd_id                        object
 46  duo_name                          object
 47  duo_direct_share                  float64
 48  merge_fame                        int64
 49  fame                              float64
 50  sample                            object
 51  birth_year                        float64
 52  diss_year                         float64
 53  age                               float64
 54  postcode                          object
 55  pcd2                              object
 56  pcds                              object
 57  cty                               object
 58  laua                              object
 59  ctry                              object
 60  rgn                               object
 61  ttwa                              object
 62  pct                               object
 63  lep1                              object
 64  lep2                              object
dtypes: float64(23), int64(3), object(39)
memory usage: 5.7+ GB

In [10]:
for i in df_fame_OC:
    print( str(i) + "\n")
    print(df_fame_OC[str(i)].unique())
    print("------------------------------------------------------------------------------------\n")

Unnamed: 0

[       0        1        2 ... 11807729 11807730 11807731]
------------------------------------------------------------------------------------

registered_number

['00428557' '00851482' '02251331' ... 'IE619962' 'IE491078' 'IE627810']
------------------------------------------------------------------------------------

incorporation_date

[nan '2007-01-11' '1981-01-01' ... '1952-09-05' '1899-03-02' '1893-05-10']
------------------------------------------------------------------------------------

dissolution_date

[nan '2009-04-07' '2000-10-17' ... '2003-01-11' '2014-12-14' '2004-09-01']
------------------------------------------------------------------------------------

latest_accounts_cash

[         nan 6.261400e+04 5.000000e+00 ... 7.252000e+04 1.133910e+05
 2.106416e+06]
------------------------------------------------------------------------------------

latest_accounts_assets

[         nan 1.578500e+04 7.000000e+00 ... 4.007384e+06 2.151110e+05
 3.110802e+06]
------------------------------------------------------------------------------------

latest_accounts_liabilities

[     nan   14589.   21090. ...   77976. 1429435.  409785.]
------------------------------------------------------------------------------------

year_obs

[2018 2015 2017 2014 2012 2016 2013 2011 2009 2019 2010 2020]
------------------------------------------------------------------------------------

sic_year

[  nan 2003. 2007. 1992.]
------------------------------------------------------------------------------------

sic4

[  nan 3314. 3299. 4643. 8690. 4642. 9609. 2599. 1039. 8622. 6920. 8211.
  722. 3091. 4110. 6831. 4511. 4399. 8299. 9602. 6209. 1813. 7733. 4690.
 5229. 4339. 9002. 2630. 9001. 7022. 1071. 4120. 9999. 6820. 4941. 2573.
 3102. 7112. 6202. 1102. 9411. 4771. 4312. 6010. 4677. 7010.  111. 6201.
 4634. 4321. 5811. 4791. 7490. 2013. 2920. 8520. 4764. 2562. 4649. 6810.
 4299. 5030. 5630. 7499. 7990. 7721. 1413. 4322. 7820. 3109. 7484. 4613.
 9003. 2571. 1399. 9800. 6512. 9321. 8610. 7420. 8560. 8899. 9491. 5621.
 1610. 6420. 7830. 7120. 5590. 4754. 2219. 6832. 6910. 4641. 4632. 5170.
 1624. 4778. 5320. 4211. 5110.  240. 1414. 2910. 4789. 3011. 4939. 3600.
 7311. 4799.  910. 4520. 4730. 5629. 2391. 5520. 8531. 9311. 9319. 7711.
 7911. 1729. 4725. 2740. 8559. 1041. 6499. 1419. 7912. 8121. 4759. 1013.
 4729. 9200. 5610. 4932. 6190. 4779. 2511. 7729. 4910. 2751. 3832. 4391.
 5813. 5210. 4334. 4676. 3320. 9329. 9499. 4639. 6430. 9104. 4675. 2651.
 4723. 3030. 1812. 5814. 6399. 9601. 4724. 4719. 4773. 1520. 9312. 4618.
 9102. 4329. 4333. 4614. 2561. 2229. 4616. 1721. 4531. 2620. 4611. 4644.
 4619. 4741. 6629.  729. 8810. 4772. 4671. 5511. 4617. 7219.  311. 4332.
  210. 4931. 5020. 8621. 8424.  113. 5819. 8790. 1083. 1105. 8553. 5911.
 5222. 5510. 2041. 2410. 5920. 1089. 6619. 3522.  145. 8720. 6311. 2311.
 1310. 4221. 9600. 2222. 7111. 2223. 9313. 7320. 3240. 8122. 3821. 4637.
 6312. 8220. 3831. 6511. 4765. 4722. 6203. 8532. 3319. 1411. 4711. 4647.
 4331. 4631. 2529. 4645. 1712. 3311. 7712. 5221. 5310. 4540.  899. 4633.
 6391. 1820. 6020. 5223. 1320. 5912. 3317. 8292. 7739. 8552. 6491. 3511.
 4762. 3212. 9412. 4612. 2349. 3250. 5122.  142. 9500. 2442. 4622. 7810.
 3312. 3220. 2593. 2813. 2822. 6630. 3101. 1085. 8130.  161. 1412. 3513.
 2899. 4669. 2932.  610. 8010. 8411. 1330. 2611. 3514. 7021. 7732. 7410.
 2829. 2894. 2030.  812. 8623. 6492. 1101. 3900. 5913. 1073. 1391. 8510.
 4674. 3811.  294. 1020. 4010. 2433. 8551. 1723. 4752. 8730. 1629. 4726.
 5829. 8230. 4615. 2059. 6419. 9004. 3230. 9700. 8020. 2014. 8412. 4311.
  150. 2399. 7312.  510. 2451. 2652. 8110. 3099. 2811.  125. 4775. 2434.
  147. 2314. 2441. 3315. 6411. 4753.  141. 6622. 5821. 3313. 6110. 5224.
 3530. 4672. 8891. 1393. 4777. 1814. 9810. 2640. 1052.  321. 1394. 1082.
 4212. 4673. 4646. 4774. 9523. 3012. 4721. 1920.  162. 8542.  146. 4666.
 4638. 9511. 4532. 9604.  170. 3291. 1562. 2362. 4776. 2369. 2012.  149.
 2790. 4781. 4651. 9521. 1107. 1091. 4652. 4751. 1623. 2892. 2120. 8129.
 1431. 4743. 4662. 7430. 1392. 1396. 9101. 8219. 1061. 2445. 9820. 7735.
 9900. 6520. 5914. 7211. 4519.  990. 8423. 6621. 4648. 8030. 2042. 3700.
 2550. 2732. 1512. 6612. 4313. 2313. 5530. 4663. 2352. 2623. 2893. 2680.
 1511.  811. 1084. 2512.  163. 2712. 2417. 2332. 5812. 6530. 7734. 1051.
 2444. 2896. 2592. 6120. 9103.  124. 2720. 2319. 2849. 6611. 2420. 2060.
 2815. 3213. 1200. 4763. 7483. 7500. 8291. 9603. 2110. 7220. 4623. 9492.
 3020.  220. 1011. 5512. 4624. 4636. 1103. 4942. 8710. 2895. 8425. 2016.
  129. 2211.  130. 4222. 7731. 3092. 2521. 2370. 3316. 2443. 4742. 9525.
 5165. 2312. 1032. 4291.  143. 5121. 1420. 1092. 8422. 5164. 5010. 4782.
 6130.  312. 2364. 1086. 2825. 1439. 2841. 9522. 2015. 2711. 7740. 8541.
 4621.  116. 2612. 1430. 2830. 5040. 2572. 2331. 4661. 2365. 2823. 9529.
 2814. 1072. 1012. 2931. 2351. 1081. 1811. 2221. 2670. 4761. 4635. 4665.
 4020. 9420. 8421.  620. 4950. 2320. 4920. 2344. 2540.  517. 2452. 9512.
 2361. 2812. 1104. 3521. 3103. 2735. 3822. 3523. 2824. 2052. 3512.  127.
 8413.  401. 9524. 2011. 1711. 4213.  710.  115. 2594.  322. 3812.  144.
  164. 2453. 2053. 1622. 2733.  123. 1106. 2363. 1395. 4664. 2111.  900.
  119.  128. 2342.  112. 2731. 9000. 2821. 2660. 2454. 2341. 1621. 2891.
 2431. 2020. 2591. 1722. 8205. 8430. 2752. 1031. 2432.  520. 1910.  892.
  121. 3211. 2017.  230.  721.  126. 1724. 2343. 1062. 2530. 3040.  891.
  893.  122. 1042. 5162.  402. 7722.  114. 5161. 2446. 2051. 5005. 5166.
 4190. 8656. 8630. 5163. 8852. 5003. 8127.]
------------------------------------------------------------------------------------

change_sic

[ 0.  1. nan]
------------------------------------------------------------------------------------

id

[2.03180520e+07 9.60367300e+06 9.44705600e+06 ... 1.34034371e+08
 1.99043900e+06 1.83039600e+06]
------------------------------------------------------------------------------------

jurisdiction_code

['gb' nan]
------------------------------------------------------------------------------------

name

['WESTERN DIE AND MOULD COMPANY LIMITED'
 'FREDERICK STREET (REALISATIONS) LIMITED' 'EVERSHED THOMPSON LIMITED' ...
 'RB PLANT HIRE LTD' 'HEALTH AND BEAUTY HACKS LTD' 'KRCS LIMITED']
------------------------------------------------------------------------------------

normalised_name

['western die and mould company limited'
 'frederick street realisations limited' 'evershed thompson limited' ...
 'ness engineering limited' 'rb plant hire limited'
 'health and beauty hacks limited']
------------------------------------------------------------------------------------

registered_addresspostal_code

[nan '(M12 6DY)' '+W1U 7EU' ... 'p51 fwv6' 'w23 pcf1' 'w91 dx34']
------------------------------------------------------------------------------------

company_type

[nan 'Private Limited Company' 'Industrial and Provident Society'
 'Limited Partnership' 'Scottish charitable incorporated organisation'
 'Other company type' 'overseas company'
 'Charitable incorporated organisation'
 'Investment Company with Variable Capital'
 'investment company with variable capital'
 'PRI/LTD BY GUAR/NSC (Private, limited by guarantee, no share capital)'
 'Private Unlimited Company' 'Public Limited Company'
 'Scottish qualifying partnership' 'Converted/Closed'
 'Limited Liability Partnership' 'Assurance Company' 'Converted / Closed'
 'Private limited by guarantee without share capital'
 "Private limited by guarantee without share capital, use of 'Limited' exemption"
 'Royal Charter Company' 'Registered society' 'Old Public Company'
 "PRI/LBG/NSC (Private, Limited by guarantee, no share capital, use of 'Limited' exemption)"
 'Northern Ireland Company' 'private unlimited company'
 'unregistered company' 'Protected cell company'
 'Private unlimited company without share capital'
 'European Economic Interest Grouping (EEIG)' 'Community Interest Company'
 'Other Company Type' 'European Public Limited-Liability Company (SE)'
 "Private limited company, use of 'Limited' exemption" 'Private Unlimited'
 'PRIV LTD SECT. 30 (Private limited company, section 30 of the Companies Act)']
------------------------------------------------------------------------------------

year_accounts

[  nan 2015. 2017. 2014. 2012. 2018. 2016. 2013. 2011. 2009. 2019. 2010.
 2020.]
------------------------------------------------------------------------------------

registeredname

[nan 'AI Rehab Ltd' 'Makebox & Co Ltd' ... 'Viking Mead Ltd'
 'Shetland Space Centre Limited' 'BK Marine Limited']
------------------------------------------------------------------------------------

incorporationdate

[nan '21/03/2019' '11/04/2019' ... '29/12/1988' '01/02/1990' '18/02/1994']
------------------------------------------------------------------------------------

companieshousestatus

[nan 'Active' 'Dormant Company' 'Company is dissolved' 'In Liquidation'
 'Voluntary Arrangement' 'In Administration' 'Converted / Closed'
 'Adverse info' 'Administrative Receiver Appointed']
------------------------------------------------------------------------------------

primaryaddresspostcodeifuk

[nan 'FY8 1PW' 'SE21 8EN' ... 'ZE1 0TW' 'ZE2 9TJ' 'ZE2 9SB']
------------------------------------------------------------------------------------

alltradingaddressespostcodeifuk

[nan 'FY8 1PW' 'SE21 8EN, SE15 3DQ' ... 'ZE1 0TW, AB12 3LF'
 'ZE2 9TJ, PH26 3JF' 'ZE2 9SB']
------------------------------------------------------------------------------------

siccodes2007

[  nan 2660. 4751. 6209. 7219. 7311. 6201. 6190. 6420. 6622. 7211. 7022.
 2651. 8299. 4110. 6202. 6311. 6512. 3299. 6120. 7911.  116. 6312. 1723.
 4725. 4675. 5819. 2053. 7810. 3511. 7490. 4775. 3250. 5020. 6832. 7820.
 4642. 8690. 5829. 4771. 9609. 9313. 9999. 2110. 8020. 8559. 4637. 3012.
 4791. 4711. 4799. 5610. 7112. 6810. 5911. 5229. 7120. 8413. 6399. 4645.
 7912. 1419. 4631. 1101. 7410. 5821. 1107. 3030.  161. 4648. 7021. 4617.
 5920. 9602. 2041. 6920. 5320. 5510. 4399. 6130. 1089. 6430. 2630. 7010.
 7830. 9411. 5629. 5811. 4520. 7111. 1085. 4941. 2012. 7990. 6619. 8551.
 8622. 5110. 1520. 1039. 3600. 2640. 3317. 7290. 2512. 6020. 4690.  125.
 8710. 8560. 8891. 9321. 6630. 6629. 1629. 7711. 4939. 4120. 6499. 2712.
 4291. 2229. 2670. 7420. 4782. 9319. 9800. 1102. 1105. 4772. 8621. 9604.
 1812. 9001. 7220. 9002. 2620. 4634. 4722. 8130. 1086. 5913. 9499. 4774.
 6820. 8810. 2014. 2790. 4729. 4669. 2849. 4639. 5914. 2830. 1392. 4778.
 7500. 2611. 4222. 5813. 8211. 7430. 6910. 6010. 1082. 7499. 3212. 9329.
 9100.  240. 2751. 1091. 4724. 2841. 5814.  812. 6530. 2223. 3514. 6492.
 8121. 4719. 4616. 4511. 5621. 4649. 4776. 4611. 4671. 2893. 4321.  910.
 2822. 4614. 2711. 7739. 3811. 2573. 3110. 3821.  610. 4677. 2511. 4619.
 2030. 1013. 1020. 2562. 3832.  811. 4322. 3900. 5630. 2599. 4519. 4761.
 1413. 4618. 2732. 2219. 9004. 3513. 8129. 3230. 3314. 1072. 4211. 1630.
 7732. 8990. 4765. 3315. 2920. 4638. 3312. 4339. 4613. 7312. 4647. 3240.
 9200. 4730. 4764. 4676. 8230. 6831. 4673. 6110. 4666. 8110. 9311. 4759.
 2120. 3102. 2452. 4662. 2016. 3320. 2891. 2812. 4329. 3812. 2652. 9603.
 8610. 2344. 8542. 8730. 1610. 4531. 4532. 1721. 2550. 4644. 2825. 4632.
 8010. 4674. 8122. 2222. 2594. 9003. 1012. 2821. 4672. 8220. 8423. 8541.
 8899. 1712. 4643. 4299. 8553. 7729. 8720. 4311. 2932. 2451. 2593. 2561.
 4333. 4615. 7320. 2740. 4633. 1920. 4651. 4646. 2311. 1103. 4334. 2410.
 2453. 1820. 2720. 1624. 2899. 4652. 1092. 4312. 5210. 1412. 8510. 9102.
 5520. 8291. 3101. 4773. 2042. 3099. 4661. 1051. 1071. 8520. 2059. 2814.
 3109. 5590. 4752. 5530. 3092. 9601. 6203. 4753. 8623.  141. 4641. 1722.
 1724. 1083. 8531. 8292. 1511. 4624. 3103. 3319. 2013. 2221. 2829. 1310.
 5221. 2612. 1031. 8424. 1061. 4742. 1729. 4932. 5912. 4741. 1399. 1330.
 1395. 1393. 4612. 8552. 1032. 9900. 1414. 1439.  162. 2910.  111. 8532.
 4721. 5812. 4777. 2811. 3316. 5224. 4331. 9312. 1290. 9511. 8422. 5310.
 4789. 1623. 6511. 2571. 2361. 4391. 2369.  143. 8930. 1130. 4942. 1396.
 1084. 4332. 1011. 4621. 1052. 5222. 3220. 7740. 1490. 2752. 2529. 1320.
 1460. 3530. 1041. 2015. 2892. 1470. 4221. 2896. 1512. 5010. 4931.  321.
 2399. 8411. 6391. 6491. 4743. 3210. 8219. 4540. 2365. 1621.  510. 5102.
  150. 8790. 1813. 6621. 2312. 6419. 2931. 7734. 4726. 5223. 7712. 2442.
 3011. 2445.  113. 2441.  147. 6612. 2341. 2813. 8425. 2444. 4313. 1500.
 2011.  149. 1110. 1700. 3091. 2349. 5121. 3822. 4754. 2060. 9104. 1240.
 2433. 1391. 3313. 6611. 4779. 6520. 2572. 2363. 4910. 8030. 2894. 2420.
  990. 3521. 6100. 1042. 9103. 2100. 2332. 4781. 2823. 1430. 2313. 1104.
  210. 2521. 4622. 5040. 2020. 1062. 3291. 2895. 2017.  124. 2680.  129.
 1106. 3700. 4663.  311.  119. 2200. 4212. 5030. 1420.  220. 1200. 1300.
 4636. 1431. 1394. 2540.  230. 2051. 3311. 2400. 2443. 8120. 2434. 4763.
 1190. 4920. 7733. 2431. 9412. 8412. 9523. 9521. 9700. 4950. 3020. 6200.
 1073.  122.  729. 2731.  130.  145. 2211. 2351. 4665. 2364. 2331. 2454.
 2319. 4623. 1711. 4723. 4213. 2320. 2815. 2342. 2391. 1814. 3522. 2352.
 1250. 2362. 9529.  620. 7721.  163. 4762. 2733. 9820. 2591. 2370.  146.]
------------------------------------------------------------------------------------

istheultimateparent

[nan True False]
------------------------------------------------------------------------------------

numberofchildcompanies

[ nan   0.   1.   3.   4.   5.  14.   2.  12.   6.   7.  11.  62.  21.
  13.  23.   9.  17.   8.  42.  39.  10.  16.  15.  20.  25.  72.  28.
  88.  89.  22.  35.  37.  27.  19.  79.  38.  29.  31.  30.  26.  69.
  18.  54.  51.  32.  43.  67. 129.  59.  56.  53.  86.  41.  24.  45.
  33.  40.  34.  36.  44. 211.  55.  46.  58.  71.  70.  84.  63.  64.
  48.  73.  75.  83.  52.  78.  92.  60. 146.  47.  95. 145. 105. 153.
  85.  98.  68.  50.  76. 160. 121.  65.]
------------------------------------------------------------------------------------

companieshousenumbersofchildcomp

[nan '11738914' 'SC624947' ...
 '04382246, 05030694, 05199937, 05355799, 05680956, 05956747, 06874709, 07109298, 07111074, 07126582, 08654218, 09425319'
 'SC088476, SC177721, SC220010' 'SC521535']
------------------------------------------------------------------------------------

numberofcompaniesinitscorporates

[ nan   1.   2.   4.   5.   6.  20.   3.  19.  13.   7.   8.  11.  12.
  17.  16.  63.  23.  14.  24.  25.  15.  32.  45.  10.  28.  18.   9.
  46.  64.  43.  52.  40.  66. 216.  27.  21.  26.  71.  73. 126.  30.
  89.  84. 145. 234.  34.  36.  41.  67. 141.  22.  58.  38.  31.  42.
  94. 259. 261. 288. 156.  29.  80.  39.  90.  37.  35. 161.  47.  72.
 232. 321.  74.  82. 157. 429.  55. 287.  60.  83.  53.  44.  79.  68.
 130. 129.  57.  54. 215.  77.  87.  50.  33. 293. 138. 137.  75.  92.
 255.  93.  61. 177.  88. 148. 110.  81.  65. 143. 146.  49. 111.  59.
  97. 223. 162.  85.  76.  51. 230.  86. 135.  48.  70. 151. 397. 400.
 102. 394. 103. 172.  69. 101. 445. 518. 245.  62.  98. 160. 467. 189.
  95. 203. 121. 186.  96. 233. 109. 185. 106. 154. 131. 147. 472. 163.
 136.  99. 262. 188. 122. 182. 471. 473. 470. 198. 164. 222. 218. 133.
 128. 210. 213. 180. 118. 190. 413.]
------------------------------------------------------------------------------------

companieshousenumbersofcompanies

[nan 11896710.0 11939630.0 ... 'SC520365' 'SC575537' 'SC303508']
------------------------------------------------------------------------------------

bh_dummy

[ 0.  1. nan]
------------------------------------------------------------------------------------

bh_notmerged

[ 0.  1. nan]
------------------------------------------------------------------------------------

oc

[ 1. nan]
------------------------------------------------------------------------------------

string

[nan ' ']
------------------------------------------------------------------------------------

keep

[nan  1.]
------------------------------------------------------------------------------------

merge_max_anna

[ 1.  3. nan]
------------------------------------------------------------------------------------

max_anna

[ 0. nan  1.]
------------------------------------------------------------------------------------

company_name

[nan 'CAT HILL CHIROPRACTIC CLINIC (BARNET) LTD' 'AI REHAB LTD' ...
 'LAHSER ENGINEERING LIMITED' 'XAGHRA LIMITED' 'CURRY IMPORTS LIMITED']
------------------------------------------------------------------------------------

bvd_id

[nan 'GB06199872' 'GB11896710' ... 'IE619962' 'IE491078' 'IE627810']
------------------------------------------------------------------------------------

primary_uk_sic_2007

[       nan 8.6220e+04 2.6600e+04 4.3390e+04 9.0020e+04 7.0229e+04
 6.8209e+04 1.1020e+04 8.2990e+04 4.9410e+04 4.7910e+04 2.0130e+04
 4.7640e+04 2.5620e+04 6.8100e+04 4.3999e+04 4.2990e+04 9.6090e+04
 6.4999e+04 4.3220e+04 7.8200e+04 7.2190e+04 7.3110e+04 7.1122e+04
 6.2012e+04 4.1202e+04 7.8300e+04 4.1100e+04 3.2990e+04 6.9109e+04
 5.3202e+04 4.9390e+04 4.6720e+04 9.6020e+04 6.1900e+04 5.2290e+04
 4.7990e+04 2.5990e+04 7.0100e+04 5.2103e+04 6.2090e+04 6.2020e+04
 6.4205e+04 4.6390e+04 6.4303e+04 7.9110e+04 4.3991e+04 4.7110e+04
 4.5112e+04 8.5590e+04 7.4909e+04 4.7789e+04 6.8310e+04 4.3290e+04
 6.6220e+04 5.6290e+04 6.6290e+04 2.6513e+04 4.5200e+04 5.6101e+04
 6.4209e+04 2.6511e+04 8.6210e+04 8.6900e+04 5.5100e+04 8.1222e+04
 5.9200e+04 1.0890e+04 6.6190e+04 6.5120e+04 8.7200e+04 4.6900e+04
 6.8320e+04 7.1111e+04 4.6130e+04 8.8990e+04 8.1229e+04 3.8210e+04
 6.9201e+04 6.1200e+04 8.2200e+04 5.6302e+04 4.3341e+04 7.1121e+04
 8.1210e+04 4.6470e+04 4.6310e+04 4.6450e+04 6.0200e+04 2.9201e+04
 8.2920e+04 4.7710e+04 4.6160e+04 7.0221e+04 3.5110e+04 4.6120e+04
 6.3120e+04 3.1090e+04 6.3990e+04 7.8109e+04 4.7250e+04 7.2110e+04
 3.5130e+04 4.6750e+04 1.3300e+04 3.5140e+04 5.8190e+04 7.4100e+04
 8.5310e+04 6.4929e+04 4.3320e+04 9.3120e+04 4.6760e+04 4.5111e+04
 6.9102e+04 8.2110e+04 3.2500e+04 8.1300e+04 4.6740e+04 7.7110e+04
 8.0100e+04 2.4330e+04 8.5510e+04 1.7230e+04 2.5110e+04 5.0200e+04
 7.3120e+04 7.0210e+04 9.3290e+04 8.7100e+04 2.0140e+04 9.7000e+04
 8.0200e+04 1.0611e+04 4.3110e+04 1.8130e+04 4.6439e+04 9.3130e+04
 2.8990e+04 4.2110e+04 5.8290e+04 5.6102e+04 4.7300e+04 3.0990e+04
 5.1102e+04 4.5400e+04 9.3199e+04 4.3910e+04 9.6010e+04 3.3150e+04
 4.6420e+04 4.7220e+04 4.3210e+04 2.7400e+04 6.1100e+04 5.6103e+04
 4.7750e+04 4.7530e+04 8.6230e+04 4.7240e+04 3.3170e+04 5.6210e+04
 6.4191e+04 2.9320e+04 1.3940e+04 2.1100e+04 4.2120e+04 4.6370e+04
 6.3110e+04 3.0120e+04 4.6150e+04 5.8142e+04 9.4110e+04 8.5421e+04
 8.5600e+04 4.6380e+04 4.6110e+04 9.0030e+04 4.5320e+04 3.3130e+04
 9.6040e+04 4.6180e+04 4.6170e+04 7.1129e+04 6.4991e+04 4.7650e+04
 2.4100e+04 3.3140e+04 3.8110e+04 2.7510e+04 9.5110e+04 3.3190e+04
 7.7390e+04 4.7599e+04 4.3342e+04 6.2011e+04 3.3200e+04 4.9320e+04
 9.2000e+04 5.9111e+04 8.7300e+04 3.6000e+04 4.6520e+04 7.4300e+04
 8.5320e+04 4.6730e+04 1.0612e+04 7.7291e+04 3.2409e+04 2.4450e+04
 5.9113e+04 4.1201e+04 2.8220e+04 2.9100e+04 8.8100e+04 3.3120e+04
 4.5190e+04 2.9202e+04 7.1200e+04 8.4230e+04 8.4130e+04 5.5900e+04
 6.6210e+04 4.7782e+04 4.5310e+04 1.0710e+04 1.5120e+04 4.7730e+04
 4.7410e+04 4.3330e+04 4.6320e+04 4.3120e+04 4.7770e+04 2.5290e+04
 2.5500e+04 6.4202e+04 5.3201e+04 1.8129e+04 4.7781e+04 6.9202e+04
 6.4304e+04 5.8210e+04 4.6711e+04 4.6460e+04 7.9120e+04 3.0300e+04
 9.8000e+04 4.3310e+04 2.6110e+04 5.8110e+04 9.8200e+04 4.6499e+04
 4.7510e+04 6.4910e+04 7.4902e+04 4.6480e+04 3.9000e+04 9.0010e+04
 5.8141e+04 2.5920e+04 8.5520e+04 8.1299e+04 5.9131e+04 5.9112e+04
 4.6190e+04 4.7190e+04 4.6510e+04 1.1050e+04 5.9120e+04 4.7799e+04
 2.8490e+04 4.6770e+04 4.6410e+04 4.9100e+04 4.7290e+04 4.6140e+04
 5.9133e+04 9.3110e+04 4.7591e+04 7.4202e+04 8.6101e+04 4.7760e+04
 4.7630e+04 7.4901e+04 1.3921e+04 1.3990e+04 9.5210e+04 6.4301e+04
 1.0520e+04 3.0110e+04 8.5200e+04 4.6230e+04 1.0850e+04 1.0110e+04
 2.0120e+04 7.9909e+04 4.6240e+04 1.1010e+04 4.9420e+04 6.4306e+04
 7.5000e+04 7.3200e+04 9.6030e+04 3.8320e+04 1.0822e+04 1.5200e+04

In [8]:
# data cleaning
dfc = df_fame_OC.copy()
dfc['siccodes2007']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
            ..
11807727   NaN
11807728   NaN
11807729   NaN
11807730   NaN
11807731   NaN
Name: siccodes2007, Length: 11807732, dtype: float64

In [14]:
# delete the rows which contains 'siccodes2007'

print(dfc.shape)

dfc = dfc.dropna(subset=["siccodes2007"])

print(dfc.shape)

(35560, 65)
(35560, 65)

In [19]:
# compare the cleaning effectness
print(df_fame_OC.shape)
print(dfc.shape)

(11807732, 65)
(35560, 65)

In [20]:
# inspect the primary_uk_sic_2007
dfc['primary_uk_sic_2007'].head()

1033    26600.0
1499        NaN
2330        NaN
4274    72190.0
4541    73110.0
Name: primary_uk_sic_2007, dtype: float64

we can see the `primary_uk_sic_2007` is the 5 digital codeï¼Œ so we need drop the null value in the columns `primary_uk_sic_2007`

In [22]:
print(df_fame_OC.shape)
dfc = df_fame_OC.dropna(subset = ['primary_uk_sic_2007'] ) # drop the columns by doing this !
print(dfc.shape)

(11807732, 65)
(11807732, 65)

In [24]:
dfc.shape

(2458550, 65)

In [25]:
dfc.to_csv(DIR + "fame_OC_dropna_uksic7.csv")

## Comments / suggestions: 

1. Identifying movers - as we discussed, given your proposed research question, you should check if you can identify movers in the data as is (e.g. can you see time-varying address information for firms). If yes, great. If no, let me know - I will see if there's another cut of the data that would permit this. If there isn't, we can try and reshape the research question a bit.

    to identify movers --- can you see time-varying address information for firms?
    
        id1, time1, address1
        id2, time2, address2
        id1 = id2
        time1 < time2
        address1 != address2
        
    first, I store the data in the mysql
    

2. Co-ordinates - you can use the ONS Postcode Directory to link postcodes to eastings/northings (specifically, of postcode centroids). The links again are https://geoportal.statistics.gov.uk/; https://en.wikipedia.org/wiki/ONS_Postcode_Directory.

    to link postcodes ...

3. Industries - have a think about specific industries (e.g. tech? creative? something else?) you might want to focus the analysis on.

    tech and how to identify the tech company? is there any evidence for this category of firm.

3. Literature review - you should start building references (using zotero, endnote or similar) and if you can, start work on your literature review. I would start by searching for overviews of the clusters literature, e.g. I think I already mentioned this one on tech clusters: https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3491774.  

    tech cluster

4. Ethical reflection - for Monday or before, please send me a short para of ethical reflection, explaining why the project does not need formal ethical review. 

    Ethical reflection

        All dissertations are required to include a clear Statement of Ethics. This should be included in a separate subsection â€“ as part of the methodology, for example. 
        The length and details of the Statement of Ethics will vary â€“ for example, a study which makes physiological measurements on people, or collects or uses sensitive information from people, may need a full ethics application, which could be explained briefly and the full application presented in appendix. 
        In other cases CASA students may be dealing with issues of deanonymisation or privacy, for example, and they would need to explain potential risks or storing and analysing the data, and how they have mitigated against these risks. 
        In other cases, students may be working with aggregate, anonymous public data, which would only require a brief reference to how disclosure or privacy issues have been dealt with by the data collectors. 
        Ethical  reflection  is  categorised  under  the  Research  design  criterion,  and  the  absence of  a Statement of Ethics will be reflected under that category. In exceptional circumstances, a lack of ethical reflection can lead to a mark penalty across the dissertation and could lead to a fail mark. 
    
    the leakage of the employees' personal information. If there is a likelihood to leak privacy, I need to prevent this from happening at the stage of data screening.

    the discrimination of industries or job categories. The final analysis results, such as the different industry concentration in each region, may deepen some people's stereotypes and prejudices about the region. It is necessary to point out and declare the objectivity of the analysis and the non-absoluteness of the results in the disclaimer. Consider the feelings of people and governments in different parts of London, and prevent the substitution of personal preferences and subjective emotions.

    The leakage of companies' name and information. For example, in the reflection of the results section of academic research, the name and related information of the companies that moved may be revealed. Although this information may be open to the public you need to know that this information may be used by people with other ulterior motives. It is best to desensitise the company name and information at the stage of chart presentation, such as using A, B, and C to refer to.

    
    (My project does not need to collect private information.)

    (This research does not need to scrape the data from the website.)

# 1st Update

### 1. Briefly introduce your topic - why should we care about the topic? What datasets you will use + where you'll get these? Possible methodology? 

**Topic**

The analysis of characters of moved companies in UK tech industries. 

characters might involve:
- Employee size
- Location
- Company operating years

**Reason**

For Government: 
- Attract talented people to work in UK
- Improve employment
    
For Companies: 
- Where the founder choose to start up companies
- Optimise the recruitment
     
**Method**

ML: DB-SCAN OR K-means? -> inspect the characters of moved companies

Output: Insights or Recommendation for policy

### 2. Think about what you want to do with the dissertation afterwards - is it something to show future employers, do you want to do further academic research? 

- Manipulate the big data -> increase ability in Data processing

- Visualisation: Moved firm's Origin/Destination Map -> employers -> provide business insights

- Further research: Decision Tree/Random Forest -> predict which companies may move

### 3. Ethical reflection - have a look at the ethics lecture / guidance and draft a couple of sentences. Will your project need formal ethical approval or not?

**First**
N/A
individuals
public info
API - all data - register
reflection

A Short Paragraph
for Ethical ...
by the next Mon

# Thing to do

**ER** - Mon

**LR**

**EDA**

Proposal

Slot -> longer

Overview weekly report

# Data Overview

* FAME_OC: master data, all variables [~15gb] 
* OC_1.1: extract of firms with true location info (trading addresses) [<1gb]
* OC_2.1: extract of firms with different trading addresses and registered addresses (may be trading address or home/other location) [<1gb]
* OC_3.1: extract of firms with only registered addresses [~10gb]

---

In [22]:
# 329MB
# 
import pandas as pd
f_1 = r'/Users/fangzeqiang/Desktop/Dissertation/OC_1.1.dta'
f_2 = r'/Users/fangzeqiang/Desktop/Dissertation/OC_2.1.dta'
OC_1_1=pd.read_stata(f_1)
OC_2_1=pd.read_stata(f_2)

# OC_1.1

In [2]:
OC_1_1.head()

,registered_number,bvd_id,id,registered_addresspostal_code,primaryaddresspostcodeifuk,alltradingaddressespostcodeifuk,sic4,birth_year,diss_year,streetnobuildingetcline1,...,country,countryisocode,regionincountry,typeofregionincountry,telephonenumber,faxnumber,addresstype,address_group,isdup_t_postcode,_merge
0,00000118,,233927.0,TN23 1DA,,,4611.0,1856.0,NaN,The New Ashford Market,...,United Kingdom,GB,England|South Eastern|Tonbridge (TN)|Ashford,Country|Region|Postal area|Town,01233506201,,Trading address,1.0,0,matched (3)
1,00000258,,12022629.0,RG12 1AN,,,7499.0,1856.0,NaN,India Buildings,...,United Kingdom,GB,England|North West|Liverpool (L)|Liverpool,Country|Region|Postal area|Town,,,Trading address,1.0,0,matched (3)
2,00000371,,2111477.0,SW1Y 6BN,,,7499.0,1863.0,NaN,St Clements House,...,United Kingdom,GB,England|Eastern|Norwich (NR)|Norwich,Country|Region|Postal area|Town,,,Trading address,1.0,0,matched (3)
3,00000402,,2302906.0,PL4 0RA,,,7499.0,1863.0,NaN,Millbay Road,...,United Kingdom,GB,England|South Western|Plymouth (PL)|Plymouth,Country|Region|Postal area|Town,01752275850,,Trading address,1.0,0,matched (3)
4,00000425,,3310625.0,EC4Y 8BB,,,NaN,1856.0,2014.0,Surrey House,...,United Kingdom,GB,England|London Outer|Kingston Upon Thames (KT)...,Country|Region|Postal area|Town,,,Trading address,1.0,0,matched (3)

### Inspect all columns' name

In [3]:
OC_1_1.columns

Index(['registered_number', 'bvd_id', 'id', 'registered_addresspostal_code',
       'primaryaddresspostcodeifuk', 'alltradingaddressespostcodeifuk', 'sic4',
       'birth_year', 'diss_year', 'streetnobuildingetcline1',
       'streetnobuildingetcline1native', 'streetnobuildingetcline2',
       'streetnobuildingetcline2native', 'streetnobuildingetcline3',
       'streetnobuildingetcline3native', 'streetnobuildingetcline4',
       'streetnobuildingetcline4native', 'postcode', 'city', 'citynative',
       'country', 'countryisocode', 'regionincountry', 'typeofregionincountry',
       'telephonenumber', 'faxnumber', 'addresstype', 'address_group',
       'isdup_t_postcode', '_merge'],
      dtype='object')

### Inspect the numeric columns

In [4]:
df = OC_1_1.copy()

import numpy as np
df.describe(include = [np.number])

,id,sic4,birth_year,diss_year,address_group,isdup_t_postcode
count,2.547690e+05,213596.000000,254737.000000,69005.000000,259581.0,259581.000000
mean,2.121576e+07,6399.244466,2000.244535,2014.631882,1.0,0.000593
std,3.874494e+07,2177.294293,15.828067,11.039440,0.0,0.162160
min,6.300000e+01,111.000000,1856.000000,8.000000,1.0,0.000000
25%,1.276526e+06,4648.000000,1995.000000,2013.000000,1.0,0.000000
50%,2.615181e+06,6810.000000,2004.000000,2015.000000,1.0,0.000000
75%,9.002524e+06,8299.000000,2011.000000,2017.000000,1.0,0.000000
max,1.687338e+08,9999.000000,2018.000000,2018.000000,1.0,78.000000

### Inspect the data types

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259581 entries, 0 to 259580
Data columns (total 30 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   registered_number                259581 non-null  object
 1   bvd_id                           259581 non-null  object
 2   id                               254769 non-null  float64
 3   registered_addresspostal_code    259581 non-null  object
 4   primaryaddresspostcodeifuk       259581 non-null  object
 5   alltradingaddressespostcodeifuk  259581 non-null  object
 6   sic4                             213596 non-null  float64
 7   birth_year                       254737 non-null  float64
 8   diss_year                        69005 non-null   float64
 9   streetnobuildingetcline1         259581 non-null  object
 10  streetnobuildingetcline1native   259581 non-null  object
 11  streetnobuildingetcline2         259581 non-null  object
 12  streetnobuildingetcline2native   259581 non-null  object
 13  streetnobuildingetcline3         259581 non-null  object
 14  streetnobuildingetcline3native   259581 non-null  object
 15  streetnobuildingetcline4         259581 non-null  object
 16  streetnobuildingetcline4native   259581 non-null  object
 17  postcode                         259581 non-null  object
 18  city                             259581 non-null  object
 19  citynative                       259581 non-null  object
 20  country                          259581 non-null  object
 21  countryisocode                   259581 non-null  object
 22  regionincountry                  259581 non-null  object
 23  typeofregionincountry            259581 non-null  object
 24  telephonenumber                  259581 non-null  object
 25  faxnumber                        259581 non-null  object
 26  addresstype                      259581 non-null  object
 27  address_group                    259581 non-null  float32
 28  isdup_t_postcode                 259581 non-null  int8
 29  _merge                           259581 non-null  category
dtypes: category(1), float32(1), float64(4), int8(1), object(23)
memory usage: 56.9+ MB

### Inspect the missing data

In [20]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)

                                  Total   Percent
diss_year                        190576  0.734168
sic4                              45985  0.177151
birth_year                         4844  0.018661
id                                 4812  0.018538
_merge                                0  0.000000
isdup_t_postcode                      0  0.000000
bvd_id                                0  0.000000
registered_addresspostal_code         0  0.000000
primaryaddresspostcodeifuk            0  0.000000
alltradingaddressespostcodeifuk       0  0.000000
streetnobuildingetcline1              0  0.000000
streetnobuildingetcline1native        0  0.000000
streetnobuildingetcline2              0  0.000000
streetnobuildingetcline2native        0  0.000000
streetnobuildingetcline3              0  0.000000
streetnobuildingetcline3native        0  0.000000
streetnobuildingetcline4              0  0.000000
streetnobuildingetcline4native        0  0.000000
postcode                              0  0.000000
city                                  0  0.000000
citynative                            0  0.000000
country                               0  0.000000
countryisocode                        0  0.000000
regionincountry                       0  0.000000
typeofregionincountry                 0  0.000000
telephonenumber                       0  0.000000
faxnumber                             0  0.000000
addresstype                           0  0.000000
address_group                         0  0.000000
registered_number                     0  0.000000

## Questions
- what is `sic4`?
- what is `dss_year`?
- The valuable attributes are `city`, `country` sth. like addresstype thing?

postcode

### Inspect the unique values for all columns

In [21]:
# apply the unique() method to inspect data
for i in df:
    print( str(i) + "\n")
    print(df[str(i)].unique())
    print("------------------------------------------------------------------------------------\n")

registered_number

['00000118' '00000258' '00000371' ... 'ZC000150' 'ZC000164' 'ZC000169']
------------------------------------------------------------------------------------

bvd_id

['' 'GB00002065' 'GB00006480' ... 'GBSO303717' 'GBZC000150' 'GBZC000164']
------------------------------------------------------------------------------------

id

[  233927. 12022629.  2111477. ...  2728817.   473940.  2591699.]
------------------------------------------------------------------------------------

registered_addresspostal_code

['TN23 1DA' 'RG12 1AN' 'SW1Y 6BN' ... 'G2 5AB' 'EH2 1DG' 'WC2B 5RR']
------------------------------------------------------------------------------------

primaryaddresspostcodeifuk

['' 'CB6 1RA' 'PL25 4BY' ... 'EH2 2ER' 'EH6 8QP' 'EH4 3LU']
------------------------------------------------------------------------------------

alltradingaddressespostcodeifuk

['' 'CB6 1RA, CB8 8QT, IP12 1PN, NR17 2QZ, NR21 9NH'
 'PL25 4BY, BA1 1SX, BA1 2AP, BA1 2JL, BL3 3QE' ... 'EH2 2ER'
 'EH6 8QP, EH2 3JG' 'EH4 3LU']
------------------------------------------------------------------------------------

sic4

[4611. 7499.   nan 6810. 6499. 6420. 7010. 6419. 6820. 6430. 6512. 7490.
 8559. 3299. 4110. 8299. 4779. 2813. 1812. 4939. 9411. 5222. 9101. 5020.
 7022. 9609. 4333. 9412. 9999. 5630. 4719.  162. 5814. 5813. 2349. 1712.
 1107. 9603. 7219. 4634. 4299. 2444. 2652. 4791. 2511. 4799. 1820. 1320.
 9499. 2120. 5920. 5510. 6511. 9601. 4690. 8121. 6202.  294. 8899.  111.
 2059. 4673. 4399. 4777. 2562.  150. 9311. 2332. 2841. 2599. 2630. 8623.
 1395. 2451. 1721. 4520. 1330. 1310. 5229. 3109. 2829. 3600. 4754. 4120.
 4771. 4778. 4511. 4759. 2229. 4639.  142. 2561. 4211. 1082. 7721. 5811.
 1105. 4649. 4635. 2711. 5621.  811. 4910. 2894. 1511. 1071. 2110. 7733.
 9329. 5610. 4613. 6622. 6492. 2391. 1102. 1814. 4531. 9003.  610. 5819.
 4762.  812. 1392. 4646. 6832. 2572. 2060. 6910. 4645. 1610. 4676. 8211.
  517. 6491. 4322. 2611. 4674. 8810. 8532. 3250. 4321. 2030. 9312. 1413.
 8130. 3822. 5224. 4643. 1084. 5913. 3511. 2573. 4329. 4776. 4772. 4641.
  510. 6209. 6630. 1072. 1629. 8531. 5210. 5590. 4519. 2822. 2892. 7739.
 2592. 2041. 6629. 4647. 2593. 5530. 2221. 4642.  145. 4616. 4773.  163.
 7484. 1011. 4614. 4942. 9491. 3313. 4332. 4931. 4711. 2790.  892. 1723.
 3212. 2899. 1431. 4722. 7311. 7420. 2410. 5221. 4730. 4752. 4725. 5911.
 7912. 4671. 2223.  240. 8690. 1089. 7112. 8542. 3315. 9800. 4638. 1623.
 6920. 2219. 4631. 5110. 2445. 8292. 3101. 4618. 2431. 4619.  899. 4331.
 4789. 2751. 4726. 6530. 4391. 2571. 4624. 7410. 3319. 4677. 1439. 4675.
 7820. 3320. 4941. 2222. 1393. 4775. 2320. 1039. 3811. 4672. 4761. 4532.
  910. 9200. 4334. 9900. 3102.  125. 4540. 1391.  113. 1419. 4622.  129.
 4339. 2311. 2651. 1061. 7711. 2361. 2550. 6831. 3030. 2849. 8710. 8730.
 2341. 2910. 3821. 4632. 4644. 2042. 3312. 4753. 5914. 3011. 9002. 1051.
 5520. 5040. 2420. 4661. 4781. 5629. 2932. 8520. 1512. 2442. 7740. 2521.
 2319.  161.  119. 2441.  141. 2344. 8610. 1399. 6612. 8020. 1101. 4723.
 4222. 4648. 1920. 2013. 2454. 4764. 1013. 4612. 4751. 3832. 6619. 1813.
 2017. 3513. 4774. 3103. 4663. 4729. 3012.  143. 2920. 7990. 4312. 6611.
 1052. 5829. 5165. 2640.  620. 8560. 2314. 1394. 4743. 6311. 9602. 9001.
 2732. 7911.  147.  312. 9524. 2016. 1729. 2814. 1811. 9810. 2594. 8552.
 2830. 2370. 4669. 9321. 4213. 2540. 7732. 4311. 3317.  124. 6130. 4932.
 3314. 1412. 8510. 2452. 4662. 2453. 1041. 4741. 7111. 4724. 9523. 3099.
 2591. 9004. 2053. 5223.  149. 7312. 8110. 6190. 7120. 4617. 4721. 2824.
 9522. 4621. 2433. 7810.  146. 1624. 2051. 2740. 4636. 4652. 6621. 2825.
 3230. 9319. 9313. 7734. 1520. 7021. 4763. 2312.  210. 9102. 5912. 9529.
 1083. 2712. 8010. 6201. 3530. 8790. 1396. 4664. 4615. 6399. 9104. 8122.
 6020. 7830. 4221. 3900. 4651. 7729. 3316. 4666. 2620. 5030. 8230.  311.
 4637. 1722. 8220. 4665. 8541. 2670. 8129. 6520. 2893. 1085. 3240. 2015.
 4623. 2733. 7731. 2811. 1200. 9700. 8720. 5010. 3311. 3220. 2529. 5310.
 9103. 3700. 2020. 7320. 2812. 2823. 4765. 2612. 9525. 1020. 2012. 3091.
 1091. 8291. 3092. 3522. 1622. 9820. 8553. 4633. 7500. 5121. 2512. 4291.
 8412. 9492. 2896. 4313. 7430.  116. 8622.  322.  722. 2011. 6010. 7712.
 6110. 1032. 1103.  164. 6203. 7735. 5320. 8621. 8030. 2821. 1411. 8891.
 1092. 1621. 1414. 6120. 2443. 2815. 8219. 9511.  321. 3514. 2014. 4920.
 2052.  729. 2351. 7211. 5821. 6312. 8422. 8551. 5170.  170. 2895. 9604.
 5812. 2399. 4950.  130. 8425.  990.  220. 2720. 1062. 5511.  401. 9512.
 6391. 2660. 3291. 3812. 4010. 7220.  115. 1724. 1031. 7722. 3512. 8411.
 2364. 3831. 5122. 4742.  402. 4212. 8424. 2931. 5164. 7483. 2432. 1106.
 2752. 2331. 9521. 2530. 2363. 2211. 1042. 2313. 3521. 2680. 2362. 8423.
 1086. 9420. 9500. 4782. 2369. 3523. 6411. 2352. 1012. 8421. 1104.  121.
  721.  127. 1910.  710. 3213. 3040. 2343.  122. 1711. 8430. 8413. 3020.]
------------------------------------------------------------------------------------

birth_year

[1856. 1863. 1857. 1864. 1865. 1868. 1869. 1870. 1871. 1872. 1873. 1874.
 1875. 1876. 1877. 1878. 1879. 1880. 1881. 1882. 1883. 1884. 1885. 1886.
 1887. 1889. 1890. 1891. 1892. 1893. 1894. 1895. 1896. 1897. 1898. 1899.
 1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1968. 1909. 1910.
 1911. 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920. 1921. 1922.
 1923. 1924. 1925. 1926. 1927. 1928. 1929. 1930. 1931. 1932. 1933. 1934.
 1935. 1936. 1937. 1938. 1939. 1940. 1941. 1942. 1943. 1944. 1945. 1946.
 1947. 1948. 1949. 1950. 1951. 1952. 1953. 1954. 1955. 1956. 1957. 1958.
 1959. 1960. 1961. 1962. 1963. 1964. 1965. 1966. 1967. 1969. 1970. 1971.
 1972. 1973. 1974. 1975. 1976. 1977. 1978. 1979. 1980. 1981. 1982. 1983.
 1984. 1985. 1986. 1987. 1988. 1989. 1990. 1991. 1992. 1993. 1994. 1995.
 1996. 1997. 1998. 1999. 2000. 2001. 2002. 2003. 2004. 2005. 2006. 2007.
 2008. 2009. 2010. 2011. 2012. 2013. 2014. 2015. 2016. 2017. 2018.   nan
 1888.]
------------------------------------------------------------------------------------

diss_year

[  nan 2014. 2018. 2011. 2017. 2012. 2013. 2008. 2015. 2001. 1997. 2016.
 2009. 2007. 1999. 2003. 2004. 1996. 1991. 2000. 2010. 2006. 2005. 2002.
 1998. 1995. 1990.    8.]
------------------------------------------------------------------------------------

streetnobuildingetcline1

['The New Ashford Market' 'India Buildings' 'St Clements House' ...
 'Rowaleyn Glenarn Road' '22 The Shipyard' 'Paignton Pier']
------------------------------------------------------------------------------------

streetnobuildingetcline1native

['The New Ashford Market' 'India Buildings' 'St Clements House' ...
 'Rowaleyn Glenarn Road' '22 The Shipyard' 'Paignton Pier']
------------------------------------------------------------------------------------

streetnobuildingetcline2

['Monument Way Orbital Park' '' '2-16 Colegate' ... 'Burnside'
 'Castlecary' 'Esplanade Road']
------------------------------------------------------------------------------------

streetnobuildingetcline2native

['Monument Way Orbital Park' '' '2-16 Colegate' ... 'Burnside'
 'Castlecary' 'Esplanade Road']
------------------------------------------------------------------------------------

streetnobuildingetcline3

['' 'Hersham' 'Gwent' ... '2 Hillview Drive' 'Beckford Street'
 'Midlothian ']
------------------------------------------------------------------------------------

streetnobuildingetcline3native

['' 'Hersham' 'Gwent' ... '2 Hillview Drive' 'Beckford Street'
 'Midlothian ']
------------------------------------------------------------------------------------

streetnobuildingetcline4

['' 'Bute' 'Lancashire' 'Oxfordshire' 'Bedfordshire'
 'Skelmersdale Lancashire' 'South Glamorgan' 'Devon' 'West Yorkshire'
 'Stourbridge' 'Hertfordshire' 'Mid Glamorgan' 'Hampshire'
 'South Yorkshire' 'Cambridgeshire' 'Leamington Spa' 'Glasgow Lanarkshire'
 'Gwent' 'Aberdeenshire' 'Bolton' 'Warley' 'Harrogate' 'Shropshire'
 'Wirral Merseyside' 'Newbury' 'Surrey' 'Berkshire'
 'Ellesmere Port Cheshire' 'Essex' 'St. Neots' 'Sutton-in-ashfield'
 'Dyfed' 'Brierley Hill' 'Diss Norfolk' 'Ox8' 'Borehamwood Hertfordshire'
 'Horley Surrey' 'Avon' "King's Langley" 'Cheshire' 'Birmingham' 'Preston'
 'Keston' 'Bishops Stortford' 'Bury St. Edmunds' 'St Helens Merseyside'
 'Suffolk' 'Newnham' 'Bootle' 'Norfolk' 'Solihull' 'Llanon' 'Cheltenham'
 'Welwyn Garden City' 'Knutsford' 'Hope Valley South Yorkshire'
 'Peterborough' 'St. Albans' 'London' 'St Neots' 'Cardiff South Glamorgan'
 'Dronfield South Yorkshire' 'Rochdale' 'West Midlands' 'Wirral' 'Bath'
 'Manchester' 'Huddersfield' 'Merseyside' 'Washington' 'Newport Gwent'
 'Douglas' 'Blackpool' 'Reading' 'Ashton-under-lyne'
 'Kenilworth Warwickshire' 'Midlothian' 'Newport' 'St. Helens' 'Cb4 5qr'
 'W Glam' 'Lanarkshire' 'Hounslow Middlesex' 'Halstead Essex' 'Chelmsford'
 'West Molesey' 'Gloucestershire' 'Halesowen' 'Oxford Oxfordshire'
 'Leyburn' 'Letchworth Garden City' 'Winchelsea' 'Wilmslow'
 'Neston Cheshire' 'Lyndhurst' 'Lytham St. Annes' 'Warwickshire' 'St Ives'
 'Maidstone' 'Plymouth Devon' 'Middlesex' 'Carterton'
 'Crowthorne Berkshire' 'Staffordshire' 'Burgess Hill' 'Derby'
 'Redruth Cornwall' 'Swansea' 'Kent' 'Islands' 'Worthing' 'St. Austell'
 'Birmingham West Midlands' 'Darlington County Durham' 'Lee-on-the-solent'
 'Bucknell' 'Southminster' 'Nottinghamshire' 'Somerset' 'Bristol Avon'
 'New Milton' 'Derbyshire' 'Hunstanton' 'Wiltshire' 'Petersfield'
 'Roxburghshire' 'Cornwall' 'Dorset' 'North' 'Maldon' 'Ware'
 'Sutton Surrey' 'Gainsborough' 'Hertford'
 'Bishops Stortford Hertfordshire' 'Sutton Coldfield' 'Worcestershire'
 'East Sussex' 'Llandudno Junction' 'Ilfracombe Devon' 'Cardigan'
 'Gwynedd' 'Cirencester' 'Skelmersdale' 'Liverpool' 'Ilfracombe' 'Pinner'
 'Swansea W Glam' 'Durham County Durham' 'Gillingham' "King's Lynn"
 'Birkenhead' 'Much Hadham' 'Inverkeithing' 'Barnsley' 'Penryn'
 'Pontefract' 'Potters Bar Hertfordshire' 'Nottingham'
 'Gloucester Gloucestershire' 'Bromsgrove' 'Colchester' 'St. Ives'
 'Thetford Norfolk' 'Buckinghamshire' 'West Sussex' 'West Glamorgan'
 'Fareham' 'Banbury' 'Uppingham' 'County Durham' 'South Molton'
 'Lincoln Lincolnshire' 'Worcester Worcestershire' "King's Lynn Norfolk"
 'North Tawton' 'Mold' 'Carlisle Cumbria' 'Croydon' 'Colchester Essex'
 'St. Asaph' 'Worcester' 'Tyne and Wear' 'Devizes' 'Crawley'
 'Ilford Essex' 'Otley' 'Leeds' 'North Yorkshire' 'North Humberside'
 'Canterbury Kent' 'Bath Avon' 'Ascot' 'Thatcham Berkshire' 'Newcastle'
 'Great Yarmouth Norfolk' 'Leicester' 'Kidlington' 'Lincolnshire'
 'Carnforth Lancashire' 'Llanfechain' 'Basildon Essex'
 'Saltburn-by-the-sea' 'Havant' 'Abingdon' 'Brighton' 'Northumberland'
 'Powys' 'Saffron Walden Essex' 'Harrogate North Yorkshire' 'Berkhamsted'
 'Northamptonshire' 'Hartlepool Cleveland' 'Reading Berkshire' 'Lichfield'
 'St Leonards-on-sea' 'Stowmarket' 'Burnham-on-crouch Essex'
 'Harrow Middlesex' 'Harpenden' 'Hove' 'Leicestershire' 'Middlesbrough'
 'Wimborne' 'Launceston Cornwall' 'Ipswich Suffolk' 'Leigh-on-sea Essex'
 'Milton Keynes Buckinghamshire' 'Loughborough' 'Sandy Bedfordshire'
 'Bromley' 'Croydon Surrey' 'Rochford' 'Chinnor' 'Caterham'
 'Burgess Hill West Sussex' 'Waterlooville' 'Darwen'
 'Halifax West Yorkshire' 'Aylesbury' 'Barnet Hertfordshire'
 'Brighton East Sussex' 'Stalybridge Cheshire' 'Exeter' 'Clwyd'
 'Southampton' 'Keighley' 'Basingstoke' 'Hitchin' 'Arundel' 'Godalming'
 'West' 'Sunbury-on-thames' 'Burton-on-trent Staffordshire' 'Wickford'
 'High Wycombe' 'Shifnal' 'Stafford' 'Greenford' 'Luton Bedfordshire'
 'Tarporley' 'Stockport Cheshire' 'Northampton' 'Durham' 'Wakefield'
 'Chesterfield Derbyshire' 'Newcastle-upon-tyne'
 'Chester-le-street County Durham' 'Doncaster South Yorkshire' 'Rochester'
 'Derby Derbyshire' 'Ringwood Hampshire' 'Edgware Middlesex'
 'Hove East Sussex' 'Burnley' 'Burnley Lancashire' 'Warrington Cheshire'
 'Oxford' 'Witney Oxfordshire' 'Winchester' 'Belfast' 'Co Londonderry'
 'St Helens' 'Kincardineshire' 'Falkirk' 'Newcastleton' 'Edinburgh'
 'Shetland' 'Glasgow' 'Longniddry' 'Dumfriesshire' 'Mid' 'Fife'
 'Morayshire' 'Forres Morayshire' 'Kinross Kinrossshire' 'Inverness-Shire'
 'Kilmarnock Ayrshire' 'Stirlingshire' 'Southampton Hampshire'
 'East Lothian' 'Forfar']
------------------------------------------------------------------------------------

streetnobuildingetcline4native

['' 'Bute' 'Lancashire' 'Oxfordshire' 'Bedfordshire'
 'Skelmersdale Lancashire' 'South Glamorgan' 'Devon' 'West Yorkshire'
 'Stourbridge' 'Hertfordshire' 'Mid Glamorgan' 'Hampshire'
 'South Yorkshire' 'Cambridgeshire' 'Leamington Spa' 'Glasgow Lanarkshire'
 'Gwent' 'Aberdeenshire' 'Bolton' 'Warley' 'Harrogate' 'Shropshire'
 'Wirral Merseyside' 'Newbury' 'Surrey' 'Berkshire'
 'Ellesmere Port Cheshire' 'Essex' 'St. Neots' 'Sutton-in-ashfield'
 'Dyfed' 'Brierley Hill' 'Diss Norfolk' 'Ox8' 'Borehamwood Hertfordshire'
 'Horley Surrey' 'Avon' "King's Langley" 'Cheshire' 'Birmingham' 'Preston'
 'Keston' 'Bishops Stortford' 'Bury St. Edmunds' 'St Helens Merseyside'
 'Suffolk' 'Newnham' 'Bootle' 'Norfolk' 'Solihull' 'Llanon' 'Cheltenham'
 'Welwyn Garden City' 'Knutsford' 'Hope Valley South Yorkshire'
 'Peterborough' 'St. Albans' 'London' 'St Neots' 'Cardiff South Glamorgan'
 'Dronfield South Yorkshire' 'Rochdale' 'West Midlands' 'Wirral' 'Bath'
 'Manchester' 'Huddersfield' 'Merseyside' 'Washington' 'Newport Gwent'
 'Douglas' 'Blackpool' 'Reading' 'Ashton-under-lyne'
 'Kenilworth Warwickshire' 'Midlothian' 'Newport' 'St. Helens' 'Cb4 5qr'
 'W Glam' 'Lanarkshire' 'Hounslow Middlesex' 'Halstead Essex' 'Chelmsford'
 'West Molesey' 'Gloucestershire' 'Halesowen' 'Oxford Oxfordshire'
 'Leyburn' 'Letchworth Garden City' 'Winchelsea' 'Wilmslow'
 'Neston Cheshire' 'Lyndhurst' 'Lytham St. Annes' 'Warwickshire' 'St Ives'
 'Maidstone' 'Plymouth Devon' 'Middlesex' 'Carterton'
 'Crowthorne Berkshire' 'Staffordshire' 'Burgess Hill' 'Derby'
 'Redruth Cornwall' 'Swansea' 'Kent' 'Islands' 'Worthing' 'St. Austell'
 'Birmingham West Midlands' 'Darlington County Durham' 'Lee-on-the-solent'
 'Bucknell' 'Southminster' 'Nottinghamshire' 'Somerset' 'Bristol Avon'
 'New Milton' 'Derbyshire' 'Hunstanton' 'Wiltshire' 'Petersfield'
 'Roxburghshire' 'Cornwall' 'Dorset' 'North' 'Maldon' 'Ware'
 'Sutton Surrey' 'Gainsborough' 'Hertford'
 'Bishops Stortford Hertfordshire' 'Sutton Coldfield' 'Worcestershire'
 'East Sussex' 'Llandudno Junction' 'Ilfracombe Devon' 'Cardigan'
 'Gwynedd' 'Cirencester' 'Skelmersdale' 'Liverpool' 'Ilfracombe' 'Pinner'
 'Swansea W Glam' 'Durham County Durham' 'Gillingham' "King's Lynn"
 'Birkenhead' 'Much Hadham' 'Inverkeithing' 'Barnsley' 'Penryn'
 'Pontefract' 'Potters Bar Hertfordshire' 'Nottingham'
 'Gloucester Gloucestershire' 'Bromsgrove' 'Colchester' 'St. Ives'
 'Thetford Norfolk' 'Buckinghamshire' 'West Sussex' 'West Glamorgan'
 'Fareham' 'Banbury' 'Uppingham' 'County Durham' 'South Molton'
 'Lincoln Lincolnshire' 'Worcester Worcestershire' "King's Lynn Norfolk"
 'North Tawton' 'Mold' 'Carlisle Cumbria' 'Croydon' 'Colchester Essex'
 'St. Asaph' 'Worcester' 'Tyne and Wear' 'Devizes' 'Crawley'
 'Ilford Essex' 'Otley' 'Leeds' 'North Yorkshire' 'North Humberside'
 'Canterbury Kent' 'Bath Avon' 'Ascot' 'Thatcham Berkshire' 'Newcastle'
 'Great Yarmouth Norfolk' 'Leicester' 'Kidlington' 'Lincolnshire'
 'Carnforth Lancashire' 'Llanfechain' 'Basildon Essex'
 'Saltburn-by-the-sea' 'Havant' 'Abingdon' 'Brighton' 'Northumberland'
 'Powys' 'Saffron Walden Essex' 'Harrogate North Yorkshire' 'Berkhamsted'
 'Northamptonshire' 'Hartlepool Cleveland' 'Reading Berkshire' 'Lichfield'
 'St Leonards-on-sea' 'Stowmarket' 'Burnham-on-crouch Essex'
 'Harrow Middlesex' 'Harpenden' 'Hove' 'Leicestershire' 'Middlesbrough'
 'Wimborne' 'Launceston Cornwall' 'Ipswich Suffolk' 'Leigh-on-sea Essex'
 'Milton Keynes Buckinghamshire' 'Loughborough' 'Sandy Bedfordshire'
 'Bromley' 'Croydon Surrey' 'Rochford' 'Chinnor' 'Caterham'
 'Burgess Hill West Sussex' 'Waterlooville' 'Darwen'
 'Halifax West Yorkshire' 'Aylesbury' 'Barnet Hertfordshire'
 'Brighton East Sussex' 'Stalybridge Cheshire' 'Exeter' 'Clwyd'
 'Southampton' 'Keighley' 'Basingstoke' 'Hitchin' 'Arundel' 'Godalming'
 'West' 'Sunbury-on-thames' 'Burton-on-trent Staffordshire' 'Wickford'
 'High Wycombe' 'Shifnal' 'Stafford' 'Greenford' 'Luton Bedfordshire'
 'Tarporley' 'Stockport Cheshire' 'Northampton' 'Durham' 'Wakefield'
 'Chesterfield Derbyshire' 'Newcastle-upon-tyne'
 'Chester-le-street County Durham' 'Doncaster South Yorkshire' 'Rochester'
 'Derby Derbyshire' 'Ringwood Hampshire' 'Edgware Middlesex'
 'Hove East Sussex' 'Burnley' 'Burnley Lancashire' 'Warrington Cheshire'
 'Oxford' 'Witney Oxfordshire' 'Winchester' 'Belfast' 'Co Londonderry'
 'St Helens' 'Kincardineshire' 'Falkirk' 'Newcastleton' 'Edinburgh'
 'Shetland' 'Glasgow' 'Longniddry' 'Dumfriesshire' 'Mid' 'Fife'
 'Morayshire' 'Forres Morayshire' 'Kinross Kinrossshire' 'Inverness-Shire'
 'Kilmarnock Ayrshire' 'Stirlingshire' 'Southampton Hampshire'
 'East Lothian' 'Forfar']
------------------------------------------------------------------------------------

postcode

['TN24 0HB' 'L13' 'NR3 1BQ' ... 'TR13 9JY' 'BN2 1TW' 'TQ4 6BW']
------------------------------------------------------------------------------------

city

['Ashford' 'Liverpool' 'Norwich' ... 'Port Askaig' 'Menstrie'
 'Isle Of Mull']
------------------------------------------------------------------------------------

citynative

['Ashford' 'Liverpool' 'Norwich' ... 'Port Askaig' 'Menstrie'
 'Isle Of Mull']
------------------------------------------------------------------------------------

country

['United Kingdom' '' 'Bulgaria' 'Israel' 'United States of America'
 'Jersey' 'Isle Of Man' 'Guernsey']
------------------------------------------------------------------------------------

countryisocode

['GB' '' 'BG' 'IL' 'US' 'AU' 'IN' 'NZ']
------------------------------------------------------------------------------------

regionincountry

['England|South Eastern|Tonbridge (TN)|Ashford'
 'England|North West|Liverpool (L)|Liverpool'
 'England|Eastern|Norwich (NR)|Norwich' ...
 'Scotland|Falkirk (FK)|Menstrie' 'Scotland|Paisley (PA)'
 'Scotland|Paisley (PA)|Isle Of Mull']
------------------------------------------------------------------------------------

typeofregionincountry

['Country|Region|Postal area|Town' '' 'Country|Postal area|Town|'
 'Country|Region|Postal area' 'Country|Postal area|Town' 'Postal area|||'
 'Postal area|Town||' 'Postal area|Parish||' 'Postal area|Town|'
 'Country|Region|Postal area|' 'Postal area||' 'Postal area|Parish'
 'Country' 'Country|Region' 'Postal area|Town' 'Postal area'
 'Country|Postal area']
------------------------------------------------------------------------------------

telephonenumber

['01233506201' '' '01752275850' ...
 '01326562995 - registered on TPS - registered on TPS' '01273609361'
 '01803522139']
------------------------------------------------------------------------------------

faxnumber

['']
------------------------------------------------------------------------------------

addresstype

['Trading address' 'Office address']
------------------------------------------------------------------------------------

address_group

[1.]
------------------------------------------------------------------------------------

isdup_t_postcode

[ 0  1  6  2  3 20 78 16]
------------------------------------------------------------------------------------

_merge

['matched (3)']
Categories (1, object): ['matched (3)']
------------------------------------------------------------------------------------

In [19]:
# export the CSV file
df.to_csv("/Users/fangzeqiang/Desktop/OC_1_1.csv")

# OC_2.1

In [23]:
df_2_1 = OC_2_1.copy()

In [24]:
df_2_1.columns

Index(['registered_number', 'bvd_id', 'id', 'registered_addresspostal_code',
       'primaryaddresspostcodeifuk', 'alltradingaddressespostcodeifuk', 'sic4',
       'birth_year', 'diss_year', 'isdup_t_postcode',
       'streetnobuildingetcline1', 'streetnobuildingetcline1native',
       'streetnobuildingetcline2', 'streetnobuildingetcline2native',
       'streetnobuildingetcline3', 'streetnobuildingetcline3native',
       'streetnobuildingetcline4', 'streetnobuildingetcline4native',
       'postcode', 'city', 'citynative', 'country', 'countryisocode',
       'regionincountry', 'typeofregionincountry', 'telephonenumber',
       'faxnumber', 'addresstype', 'address_group', 'isdup_r_postcode',
       '_merge', 'pcd_fm', 'pcd_or', 'oc_2', 'oc_3', 'oc_4', 'oc_5'],
      dtype='object')

In [31]:
import numpy as np
df_2_1.describe(include = [np.number])

,id,sic4,birth_year,diss_year,isdup_t_postcode,address_group,isdup_r_postcode,oc_2,oc_3,oc_4,oc_5
count,5.997660e+05,563851.000000,599366.000000,35870.000000,0.0,642150.0,642150.0,642150.0,642150.0,642150.0,642150.0
mean,7.833705e+07,6584.146916,2011.617873,2011.572679,NaN,2.0,0.0,1.0,0.0,0.0,0.0
std,5.864128e+07,2033.171410,9.454586,4.875997,NaN,0.0,0.0,0.0,0.0,0.0,0.0
min,7.500000e+01,111.000000,1863.000000,1987.000000,NaN,2.0,0.0,1.0,0.0,0.0,0.0
25%,3.711021e+06,4791.000000,2010.000000,2009.000000,NaN,2.0,0.0,1.0,0.0,0.0,0.0
50%,8.242699e+07,6820.000000,2015.000000,2012.000000,NaN,2.0,0.0,1.0,0.0,0.0,0.0
75%,1.372014e+08,8299.000000,2017.000000,2015.000000,NaN,2.0,0.0,1.0,0.0,0.0,0.0
max,1.687339e+08,9999.000000,2018.000000,2018.000000,NaN,2.0,0.0,1.0,0.0,0.0,0.0

In [32]:
df_2_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 642150 entries, 0 to 642149
Data columns (total 37 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   registered_number                642150 non-null  object
 1   bvd_id                           642150 non-null  object
 2   id                               599766 non-null  float64
 3   registered_addresspostal_code    642150 non-null  object
 4   primaryaddresspostcodeifuk       642150 non-null  object
 5   alltradingaddressespostcodeifuk  642150 non-null  object
 6   sic4                             563851 non-null  float64
 7   birth_year                       599366 non-null  float64
 8   diss_year                        35870 non-null   float64
 9   isdup_t_postcode                 0 non-null       float64
 10  streetnobuildingetcline1         642150 non-null  object
 11  streetnobuildingetcline1native   642150 non-null  object
 12  streetnobuildingetcline2         642150 non-null  object
 13  streetnobuildingetcline2native   642150 non-null  object
 14  streetnobuildingetcline3         642150 non-null  object
 15  streetnobuildingetcline3native   642150 non-null  object
 16  streetnobuildingetcline4         642150 non-null  object
 17  streetnobuildingetcline4native   642150 non-null  object
 18  postcode                         642150 non-null  object
 19  city                             642150 non-null  object
 20  citynative                       642150 non-null  object
 21  country                          642150 non-null  object
 22  countryisocode                   642150 non-null  object
 23  regionincountry                  642150 non-null  object
 24  typeofregionincountry            642150 non-null  object
 25  telephonenumber                  642150 non-null  object
 26  faxnumber                        642150 non-null  object
 27  addresstype                      642150 non-null  object
 28  address_group                    642150 non-null  float32
 29  isdup_r_postcode                 642150 non-null  int8
 30  _merge                           642150 non-null  category
 31  pcd_fm                           642150 non-null  object
 32  pcd_or                           642150 non-null  object
 33  oc_2                             642150 non-null  float32
 34  oc_3                             642150 non-null  float32
 35  oc_4                             642150 non-null  float32
 36  oc_5                             642150 non-null  float32
dtypes: category(1), float32(5), float64(5), int8(1), object(25)
memory usage: 165.3+ MB

In [30]:
total = df_2_1.isnull().sum().sort_values(ascending=False)
percent = (df_2_1.isnull().sum()/df_2_1.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)

                                  Total   Percent
isdup_t_postcode                 642150  1.000000
diss_year                        606280  0.944141
sic4                              78299  0.121933
birth_year                        42784  0.066626
id                                42384  0.066003
streetnobuildingetcline1              0  0.000000
streetnobuildingetcline3native        0  0.000000
streetnobuildingetcline3              0  0.000000
streetnobuildingetcline2native        0  0.000000
streetnobuildingetcline2              0  0.000000
streetnobuildingetcline1native        0  0.000000
oc_5                                  0  0.000000
streetnobuildingetcline4native        0  0.000000
alltradingaddressespostcodeifuk       0  0.000000
primaryaddresspostcodeifuk            0  0.000000
registered_addresspostal_code         0  0.000000
bvd_id                                0  0.000000
streetnobuildingetcline4              0  0.000000
postcode                              0  0.000000
oc_4                                  0  0.000000
city                                  0  0.000000
oc_3                                  0  0.000000
oc_2                                  0  0.000000
pcd_or                                0  0.000000
pcd_fm                                0  0.000000
_merge                                0  0.000000
isdup_r_postcode                      0  0.000000
address_group                         0  0.000000
addresstype                           0  0.000000
faxnumber                             0  0.000000
telephonenumber                       0  0.000000
typeofregionincountry                 0  0.000000
regionincountry                       0  0.000000
countryisocode                        0  0.000000
country                               0  0.000000
citynative                            0  0.000000
registered_number                     0  0.000000

In [29]:
# apply the unique() method to inspect data
for i in df_2_1:
    print( str(i) + "\n")
    print(df_2_1[str(i)].unique())
    print("------------------------------------------------------------------------------------\n")

registered_number

['00000295' '00000866' '00001471' ... 'ZC000159' 'ZC000184' 'ZC000187']
------------------------------------------------------------------------------------

bvd_id

['' 'GB00000866' 'GB00002899' ... 'GBSO300074' 'GBSO300293' 'GBZC000184']
------------------------------------------------------------------------------------

id

[2276915. 3246486. 2408330. ... 2274509.  755364. 3314422.]
------------------------------------------------------------------------------------

registered_addresspostal_code

['EC1Y 0TL' 'UB11 1TD' 'RH12 1XL' ... 'KA9 1PJ' 'KY11 8JS' 'FK9 5HP']
------------------------------------------------------------------------------------

primaryaddresspostcodeifuk

['' 'LE2 4AL' 'L2 3YL' ... 'EH12 9SB' 'KA15 1GA' 'EH7 8AU']
------------------------------------------------------------------------------------

alltradingaddressespostcodeifuk

['' 'LE2 4AL, LE1 7RY' 'L2 3YL' ... 'AB23 8GX, AB11 6YW'
 'KA15 1GA, KA11 5DA' 'EH7 8AU, EH2 3JG']
------------------------------------------------------------------------------------

sic4

[5813. 7010. 6512. 1413. 7499. 3600. 9609. 9999.   nan 2562. 9499. 6910.
 6520. 3099. 7490.  143. 9420. 9319. 8129. 8299. 9329. 6820. 4110. 1105.
 6810.  145. 5510. 9200. 6420. 9412. 5814. 1320. 4719. 8899. 5630. 4649.
 4613.  162. 9311. 3811. 8531. 4334. 1412. 5229. 2349. 7711. 9411. 3299.
 4777. 9003. 7311.  141. 9312. 2052. 8520. 2572. 4939. 4120.  111. 6499.
 5520. 1712. 9491. 7220. 3109.  812. 5629. 5221. 2599. 4676. 9101. 9800.
 2431. 4321. 4672. 4690. 4778. 2899. 2740. 7911. 6201. 2825. 1039. 2893.
  150. 4211. 9492. 7219. 4752. 5020. 9601. 3320. 5819. 3212. 4618. 1610.
 2910. 4511. 4773. 2550. 4674. 2651. 5610. 5913. 2849. 6622. 4643. 5811.
 4611. 4799. 1107. 1721. 5010. 4677. 6832. 1082. 2012. 6612. 2573. 2630.
 2221. 3314. 2511. 1399. 4759. 4791. 4612.  893. 1723. 8541. 2219. 2013.
 4520. 4931. 6511. 7739. 2593. 2399. 2824. 1520. 2410. 5590. 4623. 8559.
 6430. 1622. 4942. 4399.  220. 1394. 1812. 9603. 2041. 5621. 5210. 4631.
 9001. 2829. 3230. 4532. 1419. 6419. 4771. 5920. 4638. 4641.  129. 3315.
 1629.  910. 2454. 7022. 6831. 4666. 6492. 1813. 5914. 3103. 2016. 4651.
 2751.  321. 2229. 4941. 4299. 3312. 4645. 4642. 7112. 4616. 7721. 2611.
 4751. 1310. 1393. 8211. 4779. 5911. 2059. 4754.  119. 7733. 3250. 4711.
 9900. 1392. 4519. 4339. 2110. 4772. 2932. 2030. 3030. 4636. 4614. 4646.
 8730. 4663. 2320. 4622. 2822. 1511. 3511.  312.  142. 1621.  161. 4743.
 4723. 8560. 8552. 4624. 4391. 6399. 3317. 8422. 4761. 4789. 1623. 4662.
 4329. 4652. 4639. 2020. 6920. 4665. 3101. 3319. 1071. 6530.  210. 4722.
 2361. 2711. 8690. 3012. 2051. 2841. 4322. 6629. 2042. 9820. 6190. 4615.
 4729. 8623. 4333. 4661. 5530. 8020. 2391. 1729. 4776.  149. 9604. 4669.
 9002.  899. 8292. 1013. 1624.  610. 4671. 2814. 4724. 4673. 2594. 4753.
 4932.  311. 3822. 4730. 2891. 7820.  147. 2442. 2222. 2561. 4617. 2815.
 3291. 1073. 4619. 4637.  811. 2811. 2790. 1091. 9321. 1512.  729. 7312.
 8122. 4531. 2529. 7810.  125. 4632. 4311. 6491. 2512. 6202. 8121. 1330.
  294. 8110. 1089. 8510. 7420. 4765. 9810. 7732. 2894. 5912. 3092. 2433.
 4222. 5110. 7731. 5320. 8790. 2452. 7500. 9602. 2821. 1052. 1083. 4313.
 8130. 4634. 4782. 4764. 3832. 2813. 4675. 5511. 4331. 4332. 8532. 2451.
  240. 6311. 3011. 2931. 6630. 9104.  116. 9103. 9004. 9102. 2420. 4221.
 2211. 2812.  322. 2344. 7912. 1391. 1414.  146. 8230.  113. 8219. 4540.
 7729. 7740. 4741. 2530. 7410. 5310. 7021. 2892. 2319. 8720. 9522. 4633.
 4647. 2441. 7120. 3900. 5121. 8810. 4762. 7712. 1101. 7320. 3700. 1061.
 5030. 7484. 8010.  163. 2343. 7111. 7990. 1396. 1072. 2620. 6010. 5224.
 3313. 2920. 8542. 1431. 6621. 1011. 9523. 2652. 4920. 2341. 1085. 4312.
 7430. 6209. 5829. 4725. 8610. 4644. 8291. 1084. 2223. 6619. 2732. 3514.
  990. 6120. 2896. 2612.  722. 1051. 3220. 4648. 8551. 2120. 3240. 6110.
 4291. 7734. 9313. 3311. 4910. 4726. 4742. 3020. 1395. 6391. 7211. 1724.
 1420. 5170. 5812. 8710. 6130. 6203. 3530. 3102. 9700. 2369. 9600. 8622.
 1920. 4763. 5223. 3316. 2823. 4635. 6312. 1041. 2670. 4721. 2363. 2540.
 9511. 6611. 5222. 2895. 7483.  130. 1102. 8425. 8411. 8030. 2830. 1439.
 3821. 2014. 1042. 4775. 6411. 2370. 7830. 1811. 1092. 7735. 3831. 4621.
 8220. 2712. 2660. 2640. 8891.  114. 5040. 9521. 8621. 3513. 3213. 8553.
 2351. 6020. 1103.  170. 2592.  510. 4774. 1820. 3522.  124. 9524. 3523.
 1020. 1012. 2015.  520.  892. 4212. 2445. 8412. 2312.  121. 8424. 3812.
 2591. 2314.  620.  401. 1411. 5821. 2571. 2331. 2362. 2733.  891. 9529.
 8421. 1814. 5164. 9525.  900. 8413. 8423. 2011.  144. 3512. 2443. 9500.
 4781. 1031. 2311. 1722. 2365. 1910. 4213. 4664. 1104. 2434. 2521. 1032.
 5122. 3091. 2680. 2453. 2752. 2332. 9512. 1711. 2352.  721. 8430.  128.
 2720. 7722. 3521.  710. 1086. 1200.  230. 1062.  112.  164.  122. 1081.
 4950. 2444.  126. 2053. 2364.  123.  127. 2342.  115. 3040. 2731. 2017.
 2060. 2313. 1106.]
------------------------------------------------------------------------------------

birth_year

[1863. 1864. 1865. 1866. 1868. 1871. 1872. 1873. 1874. 1875. 1876. 1877.
 1878. 1881. 1882. 1883. 1884. 1885. 1886. 1887. 1888. 1889. 1891. 1892.
 1893. 1894. 1895. 1896. 1897. 1898. 1899. 1900. 1901. 1902. 1903. 1904.
 1905. 1906. 1907. 1908. 1909. 1910. 1911. 1912. 1913. 1914. 1915. 1916.
 1917. 1918. 1919. 1920. 1921. 1922. 1923. 1924. 1925. 1926. 1927. 1960.
 1928. 1929. 1930. 1931. 1932. 1933. 1934. 1935. 1936. 1937. 1938. 1939.
 1940. 1941. 1942. 1943. 1944. 1945. 1946. 1947. 1948. 1949. 1950. 1951.
 1952. 1953. 1954. 1955. 1956. 1957. 1958. 1959. 1961. 1962. 1966. 1963.
 1964. 1965. 1967. 1968. 1969. 1970. 1971. 1972. 1973. 1974. 1975. 1976.
 1977. 1978. 1979. 1980. 1981. 1982. 1983. 1984. 1985. 1986. 1987. 1988.
 1989. 1990. 1991. 1992. 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2000.
 2001. 2002. 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012.
 2013. 2014. 2015. 2016. 2017. 2018.   nan 1869. 1880.]
------------------------------------------------------------------------------------

diss_year

[  nan 1997. 2009. 2012. 2017. 2015. 2013. 2014. 2016. 1998. 2008. 2011.
 2018. 2001. 2010. 1999. 1996. 2006. 1992. 2005. 2002. 2003. 2004. 2007.
 2000. 1993. 1995. 1987. 1989. 1991. 1990.]
------------------------------------------------------------------------------------

isdup_t_postcode

[nan]
------------------------------------------------------------------------------------

streetnobuildingetcline1

['Le Strange Old Barns' '4 Longwalk Road' 'Hill House 1 Little New Street'
 ... '8, Ferry Road, Millport, Isle Of' '33 Ringans Lane'
 'Sutton Harbour Office']
------------------------------------------------------------------------------------

streetnobuildingetcline1native

['Le Strange Old Barns' '4 Longwalk Road' 'Hill House 1 Little New Street'
 ... '8, Ferry Road, Millport, Isle Of' '33 Ringans Lane'
 'Sutton Harbour Office']
------------------------------------------------------------------------------------

streetnobuildingetcline2

['Golf Course Road' 'Stockley Park' '' ...
 'Suite F3, 10-24 Gairbraid Avenue' '227 George Street' "Guy's Quay"]
------------------------------------------------------------------------------------

streetnobuildingetcline2native

['Golf Course Road' 'Stockley Park' '' ...
 'Suite F3, 10-24 Gairbraid Avenue' '227 George Street' "Guy's Quay"]
------------------------------------------------------------------------------------

streetnobuildingetcline3

['Old Hunstanton' '' 'Street' ... 'Tranent' 'Methven Walk' 'Balado']
------------------------------------------------------------------------------------

streetnobuildingetcline3native

['Old Hunstanton' '' 'Street' ... 'Tranent' 'Methven Walk' 'Balado']
------------------------------------------------------------------------------------

streetnobuildingetcline4

['' 'St. Albans' 'Street' ... 'St Peter Port' 'Lothian Region' 'Guernsay']
------------------------------------------------------------------------------------

streetnobuildingetcline4native

['' 'St. Albans' 'Street' ... 'St Peter Port' 'Lothian Region' 'Guernsay']
------------------------------------------------------------------------------------

postcode

['PE36 6JG' 'UB11 1FE' 'EC4A 3TR' ... 'IV2 3EJ' 'KA28 0DZ' 'FK7 9DN']
------------------------------------------------------------------------------------

city

['Hunstanton' 'Uxbridge' 'London' ... 'Walkerburn' 'Appin' 'Humbie']
------------------------------------------------------------------------------------

citynative

['Hunstanton' 'Uxbridge' 'London' ... 'Walkerburn' 'Appin' 'Humbie']
------------------------------------------------------------------------------------

country

['United Kingdom' '' 'Isle Of Man' 'Jersey' 'Guernsey' 'Cayman Islands'
 'Singapore' 'Japan' 'India' 'Ireland']
------------------------------------------------------------------------------------

countryisocode

['GB' '' 'KY' 'SG' 'JP' 'IN' 'IE']
------------------------------------------------------------------------------------

regionincountry

['England|Eastern|Peterborough (PE)|Hunstanton'
 'England|London Outer|Southall (UB)|Uxbridge'
 'England|London Inner|London (EC)|London EC4A' ...
 'Scotland|Edinburgh (EH)|Walkerburn' 'Scotland|Paisley (PA)|Appin'
 'Scotland|Edinburgh (EH)|Humbie']
------------------------------------------------------------------------------------

typeofregionincountry

['Country|Region|Postal area|Town' 'Country|Postal area|Town' ''
 'Country|Region|Postal area' 'Country|Region' 'Postal area'
 'Postal area|Parish' 'Postal area|Town' 'State']
------------------------------------------------------------------------------------

telephonenumber

['' '+44 1623447200' '+44 1132432701' ... '+44 1315640370'
 '+44 1415346033' '+44 1463717333 - registered on TPS']
------------------------------------------------------------------------------------

faxnumber

['' '+44 207 658 2466' '+44 207 628 2281' '+44 2074940118'
 '+44 181 727 705' '+44 1481 75 90 20' '+44 1481 714 533'
 '+44 1481 703 600' '+44 1481 723 488' '+44 1481 74 50 50'
 '+44 1481 72 71 39' '+44 1481 72 35 24' '+61 2 9437 4599'
 '+44 1481 720 018' '+44 1481 732131' '+44 1481 729 829'
 '+44 14 8171 1220' '+44 14 8174 9829' '+44 14 8172 1600'
 '+44 1481 72 08 44' '+44 1481 72 83 17' '+603 8961 2948'
 '+44 1534 88 11 99' '+44 1534 28 55 55' '+44 1534 608 291'
 '+44 1534 503 215' '+44 8450 88 51 00' '+44 1534 88 99 11'
 '+44 1534 87 27 37' '+44 1534 285 222' '+44 20 7504 1220'
 '+44 1534 767033' '+44 1534 834 601' '+44 85227564884' '+44 15 3460 9333']
------------------------------------------------------------------------------------

addresstype

['Registered address / Incorporation address / Legal address']
------------------------------------------------------------------------------------

address_group

[2.]
------------------------------------------------------------------------------------

isdup_r_postcode

[0]
------------------------------------------------------------------------------------

_merge

['matched (3)']
Categories (1, object): ['matched (3)']
------------------------------------------------------------------------------------

pcd_fm

['EC1Y0TL' 'UB111TD' 'RH121XL' ... 'KA91PJ' 'KY118JS' 'FK95HP']
------------------------------------------------------------------------------------

pcd_or

['PE366JG' 'UB111FE' 'EC4A3TR' ... 'IV23EJ' 'KA280DZ' 'FK79DN']
------------------------------------------------------------------------------------

oc_2

[1.]
------------------------------------------------------------------------------------

oc_3

[0.]
------------------------------------------------------------------------------------

oc_4

[0.]
------------------------------------------------------------------------------------

oc_5

[0.]
------------------------------------------------------------------------------------