# Reproducible Exploratory Data Analysis

In [8]:
# set the local word path 
import sys
PATH = sys.path[0]

## Read Data

In [9]:
import pandas as pd
df = pd.read_csv(PATH + "/fame_OC_tech_firm.csv")

/Users/fangzeqiang/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,28,41,66) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,registered_number,incorporation_date,dissolution_date,latest_accounts_cash,latest_accounts_assets,latest_accounts_liabilities,year_obs,...,pcds,cty,laua,ctry,rgn,ttwa,pct,lep1,lep2,is_tech
0,0,451,451,06199872,2007-04-02,NaN,NaN,15785.0,NaN,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,1,1033,1033,11896710,NaN,NaN,NaN,NaN,NaN,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,11,3229,3229,SC041753,1965-02-19,NaN,NaN,NaN,NaN,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,21,4274,4274,12125173,NaN,NaN,NaN,NaN,NaN,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,22,4541,4541,11968595,NaN,NaN,NaN,NaN,NaN,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

## Data Preprocessing

1. drop columns
2. missing value detected
3. ...

drop the unnecessary columns

In [11]:
# drop the first 3 columns and the last one
df_1 = df.copy()
df_1 = df_1.drop({"Unnamed: 0","Unnamed: 0.1","Unnamed: 0.1.1","is_tech"},axis = 1)
df_1.head()

,registered_number,incorporation_date,dissolution_date,latest_accounts_cash,latest_accounts_assets,latest_accounts_liabilities,year_obs,sic_year,sic4,change_sic,...,pcd2,pcds,cty,laua,ctry,rgn,ttwa,pct,lep1,lep2
0,06199872,2007-04-02,NaN,NaN,15785.0,NaN,2017,2007.0,8622.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11896710,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SC041753,1965-02-19,NaN,NaN,NaN,NaN,2018,2007.0,2013.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12125173,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11968595,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

detect the missing value

In [12]:
total = df_1.isnull().sum().sort_values(ascending=False)
percent = (df_1.isnull().sum()/df_1.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.style

Then we can create a table that some columns can be used!

Spatial Info:

|Columns|Description|
|--|--:|
|Postcode||
Pcd2
Pcds
cty (city?)
Laua (what is laua)
Ctry (country?)
Rgn (region?)
Ttwa (ward?)
|pct||

Temporal Info:

|Columns|Description|
|--|--:|
|corporate_date||
|diss_date||

## Recognise the Movers

How to find them?

category 1: same company name

group by the company name